body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:4540px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u42305_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:740px;
}
#u42305 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:830px;
  width:357px;
  height:740px;
}
#u42306 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:362px;
  width:353px;
  word-wrap:break-word;
}
#u42307_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:565px;
}
#u42307 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:918px;
  width:317px;
  height:565px;
}
#u42308 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:274px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42309_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:740px;
}
#u42309 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:451px;
  width:357px;
  height:740px;
}
#u42310 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:362px;
  width:353px;
  word-wrap:break-word;
}
#u42311_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:572px;
}
#u42311 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:539px;
  width:317px;
  height:572px;
}
#u42312 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:278px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42313_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:820px;
}
#u42313 {
  border-width:0px;
  position:absolute;
  left:2603px;
  top:440px;
  width:357px;
  height:820px;
}
#u42314 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:402px;
  width:353px;
  word-wrap:break-word;
}
#u42315_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:740px;
}
#u42315 {
  border-width:0px;
  position:absolute;
  left:1170px;
  top:830px;
  width:357px;
  height:740px;
}
#u42316 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:362px;
  width:353px;
  word-wrap:break-word;
}
#u42317_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:740px;
}
#u42317 {
  border-width:0px;
  position:absolute;
  left:3083px;
  top:50px;
  width:357px;
  height:740px;
}
#u42318 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:362px;
  width:353px;
  word-wrap:break-word;
}
#u42319_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:643px;
}
#u42319 {
  border-width:0px;
  position:absolute;
  left:2624px;
  top:527px;
  width:318px;
  height:643px;
}
#u42320 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:314px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42321_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:566px;
}
#u42321 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:917px;
  width:318px;
  height:566px;
}
#u42322 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:275px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42323_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:566px;
}
#u42323 {
  border-width:0px;
  position:absolute;
  left:3103px;
  top:137px;
  width:318px;
  height:566px;
}
#u42324 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:275px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42325_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:740px;
}
#u42325 {
  border-width:0px;
  position:absolute;
  left:3083px;
  top:900px;
  width:357px;
  height:740px;
}
#u42326 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:362px;
  width:353px;
  word-wrap:break-word;
}
#u42327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:566px;
}
#u42327 {
  border-width:0px;
  position:absolute;
  left:3103px;
  top:987px;
  width:318px;
  height:566px;
}
#u42328 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:275px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42329 {
  border-width:0px;
  position:absolute;
  left:2910px;
  top:690px;
  width:0px;
  height:0px;
}
#u42329_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:356px;
  height:8px;
}
#u42329_seg1 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:-4px;
  width:8px;
  height:214px;
}
#u42329_seg2 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:195px;
  width:24px;
  height:24px;
}
#u42330 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42331 {
  border-width:0px;
  position:absolute;
  left:2920px;
  top:810px;
  width:0px;
  height:0px;
}
#u42331_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:107px;
  height:8px;
}
#u42331_seg1 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:-794px;
  width:8px;
  height:798px;
}
#u42331_seg2 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:-794px;
  width:247px;
  height:8px;
}
#u42331_seg3 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:-794px;
  width:8px;
  height:34px;
}
#u42331_seg4 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:-775px;
  width:24px;
  height:24px;
}
#u42332 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-486px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42333_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:740px;
}
#u42333 {
  border-width:0px;
  position:absolute;
  left:2103px;
  top:440px;
  width:357px;
  height:740px;
}
#u42334 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:362px;
  width:353px;
  word-wrap:break-word;
}
#u42335_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:566px;
}
#u42335 {
  border-width:0px;
  position:absolute;
  left:2124px;
  top:527px;
  width:318px;
  height:566px;
}
#u42336 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:275px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42337_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:740px;
}
#u42337 {
  border-width:0px;
  position:absolute;
  left:3810px;
  top:50px;
  width:357px;
  height:740px;
}
#u42338 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:362px;
  width:353px;
  word-wrap:break-word;
}
#u42339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:566px;
}
#u42339 {
  border-width:0px;
  position:absolute;
  left:3830px;
  top:137px;
  width:318px;
  height:566px;
}
#u42340 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:275px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42341 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:1460px;
  width:0px;
  height:0px;
}
#u42341_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:124px;
  height:8px;
}
#u42341_seg1 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:-643px;
  width:8px;
  height:647px;
}
#u42341_seg2 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:-643px;
  width:107px;
  height:8px;
}
#u42341_seg3 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:-651px;
  width:24px;
  height:24px;
}
#u42342 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:-319px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42343_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:740px;
}
#u42343 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:1290px;
  width:357px;
  height:740px;
}
#u42344 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:362px;
  width:353px;
  word-wrap:break-word;
}
#u42345_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:574px;
}
#u42345 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:1376px;
  width:317px;
  height:574px;
}
#u42346 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:279px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42347 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:1490px;
  width:0px;
  height:0px;
}
#u42347_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:174px;
}
#u42347_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:166px;
  width:347px;
  height:8px;
}
#u42347_seg2 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:158px;
  width:24px;
  height:24px;
}
#u42348 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:162px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42349 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:1090px;
  width:0px;
  height:0px;
}
#u42349_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:94px;
  height:8px;
}
#u42349_seg1 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:-94px;
  width:8px;
  height:98px;
}
#u42349_seg2 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:-94px;
  width:104px;
  height:8px;
}
#u42349_seg3 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:-102px;
  width:24px;
  height:24px;
}
#u42350 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:-58px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42351 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:1920px;
  width:0px;
  height:0px;
}
#u42351_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:94px;
  height:8px;
}
#u42351_seg1 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:-734px;
  width:8px;
  height:738px;
}
#u42351_seg2 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:-734px;
  width:228px;
  height:8px;
}
#u42351_seg3 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:-820px;
  width:8px;
  height:94px;
}
#u42351_seg4 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:-829px;
  width:24px;
  height:24px;
}
#u42352 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:-483px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42353 {
  border-width:0px;
  position:absolute;
  left:2460px;
  top:1070px;
  width:0px;
  height:0px;
}
#u42353_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:84px;
  height:8px;
}
#u42353_seg1 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:-504px;
  width:8px;
  height:508px;
}
#u42353_seg2 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:-504px;
  width:74px;
  height:8px;
}
#u42353_seg3 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:-512px;
  width:24px;
  height:24px;
}
#u42354 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:-253px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42355_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:49px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u42355 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:1226px;
  width:240px;
  height:49px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u42356 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:236px;
  word-wrap:break-word;
}
#u42355_ann {
  border-width:0px;
  position:absolute;
  left:673px;
  top:1222px;
  width:1px;
  height:1px;
}
#u42357_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u42357 {
  border-width:0px;
  position:absolute;
  left:1310px;
  top:1170px;
  width:250px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u42358 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:246px;
  word-wrap:break-word;
}
#u42357_ann {
  border-width:0px;
  position:absolute;
  left:1553px;
  top:1166px;
  width:1px;
  height:1px;
}
#u42359_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u42359 {
  border-width:0px;
  position:absolute;
  left:2632px;
  top:1185px;
  width:300px;
  height:100px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u42360 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:296px;
  word-wrap:break-word;
}
#u42359_ann {
  border-width:0px;
  position:absolute;
  left:2925px;
  top:1181px;
  width:1px;
  height:1px;
}
#u42361_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u42361 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:1120px;
  width:140px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u42362 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:136px;
  word-wrap:break-word;
}
#u42361_ann {
  border-width:0px;
  position:absolute;
  left:1133px;
  top:1116px;
  width:1px;
  height:1px;
}
#u42363_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u42363 {
  border-width:0px;
  position:absolute;
  left:4240px;
  top:270px;
  width:300px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u42364 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:296px;
  word-wrap:break-word;
}
#u42365 {
  border-width:0px;
  position:absolute;
  left:4110px;
  top:290px;
  width:0px;
  height:0px;
}
#u42365_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:74px;
  height:8px;
}
#u42365_seg1 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:-4px;
  width:8px;
  height:28px;
}
#u42365_seg2 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:16px;
  width:64px;
  height:8px;
}
#u42365_seg3 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:8px;
  width:24px;
  height:24px;
}
#u42366 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42367_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
  text-align:left;
}
#u42367 {
  border-width:0px;
  position:absolute;
  left:3480px;
  top:200px;
  width:300px;
  height:170px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
  text-align:left;
}
#u42368 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:47px;
  width:296px;
  word-wrap:break-word;
}
#u42369 {
  border-width:0px;
  position:absolute;
  left:3400px;
  top:280px;
  width:0px;
  height:0px;
}
#u42369_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:74px;
  height:8px;
}
#u42369_seg1 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:-12px;
  width:24px;
  height:24px;
}
#u42370 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
  text-align:left;
}
#u42371 {
  border-width:0px;
  position:absolute;
  left:3480px;
  top:1050px;
  width:300px;
  height:170px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
  text-align:left;
}
#u42372 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:47px;
  width:296px;
  word-wrap:break-word;
}
#u42373 {
  border-width:0px;
  position:absolute;
  left:3400px;
  top:1130px;
  width:0px;
  height:0px;
}
#u42373_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:74px;
  height:8px;
}
#u42373_seg1 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:-12px;
  width:24px;
  height:24px;
}
#u42374 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:844px;
}
#u42375 {
  border-width:0px;
  position:absolute;
  left:2093px;
  top:1226px;
  width:357px;
  height:844px;
}
#u42376 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:414px;
  width:353px;
  word-wrap:break-word;
}
#u42377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:656px;
}
#u42377 {
  border-width:0px;
  position:absolute;
  left:2111px;
  top:1314px;
  width:318px;
  height:656px;
}
#u42378 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:320px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42379_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42379 {
  border-width:0px;
  position:absolute;
  left:2340px;
  top:1440px;
  width:89px;
  height:60px;
  opacity:0.5;
}
#u42380 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42381_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42381 {
  border-width:0px;
  position:absolute;
  left:2353px;
  top:1040px;
  width:89px;
  height:60px;
  opacity:0.5;
}
#u42382 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42383_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u42383 {
  border-width:0px;
  position:absolute;
  left:2952px;
  top:576px;
  width:210px;
  height:170px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u42384 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:206px;
  word-wrap:break-word;
}
#u42385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:740px;
}
#u42385 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:1730px;
  width:357px;
  height:740px;
}
#u42386 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:362px;
  width:353px;
  word-wrap:break-word;
}
#u42387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:565px;
}
#u42387 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:1818px;
  width:317px;
  height:565px;
}
#u42388 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:274px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42389 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:740px;
}
#u42390 {
  border-width:0px;
  position:absolute;
  left:1635px;
  top:1670px;
  width:357px;
  height:740px;
}
#u42391 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:362px;
  width:353px;
  word-wrap:break-word;
}
#u42392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:570px;
}
#u42392 {
  border-width:0px;
  position:absolute;
  left:1655px;
  top:1757px;
  width:318px;
  height:570px;
}
#u42393 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:278px;
  width:314px;
  word-wrap:break-word;
}
#u42394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:740px;
}
#u42394 {
  border-width:0px;
  position:absolute;
  left:1635px;
  top:830px;
  width:357px;
  height:740px;
}
#u42395 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:362px;
  width:353px;
  word-wrap:break-word;
}
#u42396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:570px;
}
#u42396 {
  border-width:0px;
  position:absolute;
  left:1655px;
  top:917px;
  width:318px;
  height:570px;
}
#u42397 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:278px;
  width:314px;
  word-wrap:break-word;
}
#u42398 {
  border-width:0px;
  position:absolute;
  left:1508px;
  top:1200px;
  width:0px;
  height:0px;
}
#u42398_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:131px;
  height:8px;
}
#u42398_seg1 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:-12px;
  width:24px;
  height:24px;
}
#u42399 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42400_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u42400 {
  border-width:0px;
  position:absolute;
  left:1694px;
  top:1580px;
  width:239px;
  height:70px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u42401 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:235px;
  word-wrap:break-word;
}
#u42400_ann {
  border-width:0px;
  position:absolute;
  left:1926px;
  top:1576px;
  width:1px;
  height:1px;
}
#u42402_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF0000;
}
#u42402 {
  border-width:0px;
  position:absolute;
  left:2750px;
  top:1130px;
  width:300px;
  height:40px;
  font-size:14px;
  color:#FF0000;
}
#u42403 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:296px;
  word-wrap:break-word;
}
#u42404_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u42404 {
  border-width:0px;
  position:absolute;
  left:1730px;
  top:970px;
  width:300px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u42405 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  word-wrap:break-word;
}
#u42406_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u42406 {
  border-width:0px;
  position:absolute;
  left:1730px;
  top:1810px;
  width:300px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u42407 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  word-wrap:break-word;
}
