body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:854px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20041_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:1010px;
}
#u20041 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:24px;
  width:430px;
  height:1010px;
}
#u20042 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:498px;
  width:426px;
  word-wrap:break-word;
}
#u20043_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:785px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20043 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:128px;
  width:382px;
  height:785px;
}
#u20044 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:384px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20045_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:15px;
}
#u20045 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:128px;
  width:383px;
  height:15px;
}
#u20046 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20047_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:25px;
}
#u20047 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:168px;
  width:13px;
  height:25px;
  color:#1E1E1E;
}
#u20048 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20049_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u20049 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:172px;
  width:111px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u20050 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u20051_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:2px;
}
#u20051 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:233px;
  width:383px;
  height:1px;
}
#u20052 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20053_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:49px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u20053 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:864px;
  width:189px;
  height:49px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u20054 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:185px;
  word-wrap:break-word;
}
#u20055_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:49px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u20055 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:864px;
  width:189px;
  height:49px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u20056 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:185px;
  word-wrap:break-word;
}
#u20057_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:49px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u20057 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:923px;
  width:380px;
  height:49px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u20058 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:376px;
  word-wrap:break-word;
}
#u20059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:2px;
}
#u20059 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:233px;
  width:383px;
  height:1px;
}
#u20060 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20061_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20061 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:234px;
  width:383px;
  height:45px;
}
#u20062 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20063_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20063 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:246px;
  width:93px;
  height:18px;
}
#u20064 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u20065_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20065 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:321px;
  width:383px;
  height:45px;
}
#u20066 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20067_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20067 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:334px;
  width:68px;
  height:18px;
}
#u20068 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u20069_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20069 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:365px;
  width:383px;
  height:89px;
}
#u20070 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20071_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20071 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:378px;
  width:126px;
  height:18px;
}
#u20072 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u20073_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20073 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:406px;
  width:66px;
  height:28px;
  font-size:12px;
}
#u20074 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:62px;
  word-wrap:break-word;
}
#u20075_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u20075 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:406px;
  width:75px;
  height:28px;
  font-size:12px;
  color:#FFFFFF;
}
#u20076 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  word-wrap:break-word;
}
#u20077_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20077 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:406px;
  width:98px;
  height:28px;
  font-size:12px;
}
#u20078 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  word-wrap:break-word;
}
#u20079_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20079 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:453px;
  width:383px;
  height:120px;
}
#u20080 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20081_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20081 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:466px;
  width:126px;
  height:18px;
}
#u20082 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u20083_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20083 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:494px;
  width:98px;
  height:28px;
  font-size:12px;
}
#u20084 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  word-wrap:break-word;
}
#u20085_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u20085 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:494px;
  width:98px;
  height:28px;
  font-size:12px;
  color:#FFFFFF;
}
#u20086 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  word-wrap:break-word;
}
#u20087_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20087 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:494px;
  width:98px;
  height:28px;
  font-size:12px;
}
#u20088 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  word-wrap:break-word;
}
#u20089_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20089 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:534px;
  width:98px;
  height:28px;
  font-size:12px;
}
#u20090 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  word-wrap:break-word;
}
#u20091_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20091 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:332px;
  width:87px;
  height:18px;
  color:#999999;
}
#u20092 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u20093_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20093 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:206px;
  width:246px;
  height:18px;
}
#u20094 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  white-space:nowrap;
}
#u20095_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20095 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:532px;
  width:98px;
  height:28px;
  font-size:12px;
}
#u20096 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  word-wrap:break-word;
}
#u20097_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20097 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:247px;
  width:30px;
  height:18px;
  color:#999999;
}
#u20098 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u20099_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20099 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:247px;
  width:25px;
  height:18px;
}
#u20100 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u20101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20101 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:277px;
  width:383px;
  height:45px;
}
#u20102 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20103 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:290px;
  width:97px;
  height:18px;
}
#u20104 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u20105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20105 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:291px;
  width:30px;
  height:18px;
  color:#999999;
}
#u20106 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u20107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:2px;
}
#u20107 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:299px;
  width:34px;
  height:1px;
}
#u20108 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20109 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:291px;
  width:30px;
  height:18px;
  color:#999999;
}
#u20110 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u20111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20111 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:291px;
  width:39px;
  height:18px;
}
#u20112 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u20113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20113 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:332px;
  width:20px;
  height:20px;
}
#u20114 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20115 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:318px;
  width:300px;
  height:45px;
}
#u20116 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:296px;
  word-wrap:break-word;
}
#u20117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u20117 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:866px;
  width:300px;
  height:45px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u20118 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:296px;
  word-wrap:break-word;
}
#u20119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u20119 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:924px;
  width:300px;
  height:45px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u20120 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:296px;
  word-wrap:break-word;
}
#u20121 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:889px;
  width:0px;
  height:0px;
}
#u20121_seg0 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-3px;
  width:50px;
  height:6px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u20121_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20121_seg2 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:-10px;
  width:20px;
  height:20px;
}
#u20122 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20123 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:948px;
  width:0px;
  height:0px;
}
#u20123_seg0 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-4px;
  width:50px;
  height:8px;
  -webkit-transform:rotate(178.806510576018deg);
  -moz-transform:rotate(178.806510576018deg);
  -ms-transform:rotate(178.806510576018deg);
  transform:rotate(178.806510576018deg);
}
#u20123_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20123_seg2 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:-11px;
  width:20px;
  height:20px;
}
#u20124 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20125 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:342px;
  width:0px;
  height:0px;
}
#u20125_seg0 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-4px;
  width:84px;
  height:8px;
  -webkit-transform:rotate(179.292680631456deg);
  -moz-transform:rotate(179.292680631456deg);
  -ms-transform:rotate(179.292680631456deg);
  transform:rotate(179.292680631456deg);
}
#u20125_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20125_seg2 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:-11px;
  width:20px;
  height:20px;
}
#u20126 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20127 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:237px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20128 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:572px;
  width:383px;
  height:237px;
}
#u20129 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:110px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20130 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:585px;
  width:155px;
  height:18px;
}
#u20131 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u20132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20132 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:613px;
  width:73px;
  height:28px;
  font-size:12px;
}
#u20133 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u20134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20134 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:613px;
  width:73px;
  height:28px;
  font-size:12px;
}
#u20135 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u20136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u20136 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:613px;
  width:73px;
  height:28px;
  font-size:12px;
  color:#FFFFFF;
}
#u20137 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u20138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20138 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:613px;
  width:73px;
  height:28px;
  font-size:12px;
}
#u20139 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u20140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20140 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:651px;
  width:73px;
  height:28px;
  font-size:12px;
}
#u20141 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u20142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20142 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:651px;
  width:73px;
  height:28px;
  font-size:12px;
}
#u20143 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u20144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20144 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:651px;
  width:73px;
  height:28px;
  font-size:12px;
}
#u20145 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u20146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20146 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:651px;
  width:73px;
  height:28px;
  font-size:12px;
}
#u20147 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u20148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20148 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:689px;
  width:73px;
  height:28px;
  font-size:12px;
}
#u20149 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u20150_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20150 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:689px;
  width:73px;
  height:28px;
  font-size:12px;
}
#u20151 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u20152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20152 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:689px;
  width:73px;
  height:28px;
  font-size:12px;
}
#u20153 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u20154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20154 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:689px;
  width:73px;
  height:28px;
  font-size:12px;
}
#u20155 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u20156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20156 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:727px;
  width:73px;
  height:28px;
  font-size:12px;
}
#u20157 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u20158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20158 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:727px;
  width:73px;
  height:28px;
  font-size:12px;
}
#u20159 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u20160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20160 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:727px;
  width:73px;
  height:28px;
  font-size:12px;
}
#u20161 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u20162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20162 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:727px;
  width:73px;
  height:28px;
  font-size:12px;
}
#u20163 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u20164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20164 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:765px;
  width:73px;
  height:28px;
  font-size:12px;
}
#u20165 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u20166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20166 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:765px;
  width:73px;
  height:28px;
  font-size:12px;
}
#u20167 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u20168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20168 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:765px;
  width:73px;
  height:28px;
  font-size:12px;
}
#u20169 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u20170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20170 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:406px;
  width:66px;
  height:28px;
  font-size:12px;
}
#u20171 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:62px;
  word-wrap:break-word;
}
#u20172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u20172 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:532px;
  width:98px;
  height:28px;
  font-size:12px;
}
#u20173 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  word-wrap:break-word;
}
