body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:854px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:1010px;
}
#u19377 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:24px;
  width:430px;
  height:1010px;
}
#u19378 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:498px;
  width:426px;
  word-wrap:break-word;
}
#u19379_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:785px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19379 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:128px;
  width:382px;
  height:785px;
}
#u19380 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:384px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:15px;
}
#u19381 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:128px;
  width:383px;
  height:15px;
}
#u19382 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:25px;
}
#u19383 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:168px;
  width:13px;
  height:25px;
  color:#1E1E1E;
}
#u19384 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19385_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u19385 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:172px;
  width:111px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u19386 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u19387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:2px;
}
#u19387 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:233px;
  width:383px;
  height:1px;
}
#u19388 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19389_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:49px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u19389 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:864px;
  width:189px;
  height:49px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u19390 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:185px;
  word-wrap:break-word;
}
#u19391_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:49px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u19391 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:864px;
  width:189px;
  height:49px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u19392 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:185px;
  word-wrap:break-word;
}
#u19393_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:49px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u19393 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:923px;
  width:380px;
  height:49px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u19394 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:376px;
  word-wrap:break-word;
}
#u19395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:2px;
}
#u19395 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:233px;
  width:383px;
  height:1px;
}
#u19396 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19397_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19397 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:234px;
  width:383px;
  height:45px;
}
#u19398 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19399_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19399 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:246px;
  width:93px;
  height:18px;
}
#u19400 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u19401_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19401 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:321px;
  width:383px;
  height:45px;
}
#u19402 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19403_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19403 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:334px;
  width:68px;
  height:18px;
}
#u19404 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u19405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19405 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:365px;
  width:383px;
  height:89px;
}
#u19406 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19407_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19407 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:378px;
  width:126px;
  height:18px;
}
#u19408 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u19409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19409 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:406px;
  width:98px;
  height:28px;
  font-size:12px;
}
#u19410 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  word-wrap:break-word;
}
#u19411_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u19411 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:406px;
  width:98px;
  height:28px;
  font-size:12px;
  color:#FFFFFF;
}
#u19412 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  word-wrap:break-word;
}
#u19413_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19413 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:406px;
  width:98px;
  height:28px;
  font-size:12px;
}
#u19414 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  word-wrap:break-word;
}
#u19415_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19415 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:453px;
  width:383px;
  height:120px;
}
#u19416 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19417_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19417 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:466px;
  width:126px;
  height:18px;
}
#u19418 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u19419_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19419 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:494px;
  width:98px;
  height:28px;
  font-size:12px;
}
#u19420 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  word-wrap:break-word;
}
#u19421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u19421 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:494px;
  width:98px;
  height:28px;
  font-size:12px;
  color:#FFFFFF;
}
#u19422 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  word-wrap:break-word;
}
#u19423_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19423 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:494px;
  width:98px;
  height:28px;
  font-size:12px;
}
#u19424 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  word-wrap:break-word;
}
#u19425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19425 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:534px;
  width:98px;
  height:28px;
  font-size:12px;
}
#u19426 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  word-wrap:break-word;
}
#u19427_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u19427 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:332px;
  width:87px;
  height:18px;
  color:#999999;
}
#u19428 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u19429_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19429 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:206px;
  width:246px;
  height:18px;
}
#u19430 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  white-space:nowrap;
}
#u19431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19431 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:532px;
  width:98px;
  height:28px;
  font-size:12px;
}
#u19432 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  word-wrap:break-word;
}
#u19433_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u19433 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:247px;
  width:30px;
  height:18px;
  color:#999999;
}
#u19434 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u19435_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19435 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:247px;
  width:25px;
  height:18px;
}
#u19436 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u19437_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19437 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:277px;
  width:383px;
  height:45px;
}
#u19438 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19439_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19439 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:290px;
  width:97px;
  height:18px;
}
#u19440 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u19441_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u19441 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:291px;
  width:30px;
  height:18px;
  color:#999999;
}
#u19442 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u19443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:2px;
}
#u19443 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:299px;
  width:34px;
  height:1px;
}
#u19444 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19445_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u19445 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:291px;
  width:30px;
  height:18px;
  color:#999999;
}
#u19446 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u19447_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19447 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:291px;
  width:39px;
  height:18px;
}
#u19448 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u19449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u19449 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:332px;
  width:20px;
  height:20px;
}
#u19450 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19451_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19451 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:318px;
  width:300px;
  height:45px;
}
#u19452 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:296px;
  word-wrap:break-word;
}
#u19453_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u19453 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:866px;
  width:300px;
  height:45px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u19454 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:296px;
  word-wrap:break-word;
}
#u19455_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u19455 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:924px;
  width:300px;
  height:45px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u19456 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:296px;
  word-wrap:break-word;
}
#u19457 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:889px;
  width:0px;
  height:0px;
}
#u19457_seg0 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-3px;
  width:50px;
  height:6px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u19457_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19457_seg2 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:-10px;
  width:20px;
  height:20px;
}
#u19458 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19459 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:948px;
  width:0px;
  height:0px;
}
#u19459_seg0 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-4px;
  width:50px;
  height:8px;
  -webkit-transform:rotate(178.806510576018deg);
  -moz-transform:rotate(178.806510576018deg);
  -ms-transform:rotate(178.806510576018deg);
  transform:rotate(178.806510576018deg);
}
#u19459_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19459_seg2 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:-11px;
  width:20px;
  height:20px;
}
#u19460 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19461 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:342px;
  width:0px;
  height:0px;
}
#u19461_seg0 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-4px;
  width:84px;
  height:8px;
  -webkit-transform:rotate(179.292680631456deg);
  -moz-transform:rotate(179.292680631456deg);
  -ms-transform:rotate(179.292680631456deg);
  transform:rotate(179.292680631456deg);
}
#u19461_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19461_seg2 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:-11px;
  width:20px;
  height:20px;
}
#u19462 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19463_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:237px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19463 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:572px;
  width:383px;
  height:237px;
}
#u19464 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:110px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19465 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:585px;
  width:155px;
  height:18px;
}
#u19466 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u19467_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19467 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:613px;
  width:73px;
  height:28px;
  font-size:12px;
}
#u19468 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u19469_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19469 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:613px;
  width:73px;
  height:28px;
  font-size:12px;
}
#u19470 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u19471_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u19471 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:613px;
  width:73px;
  height:28px;
  font-size:12px;
  color:#FFFFFF;
}
#u19472 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u19473_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19473 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:613px;
  width:73px;
  height:28px;
  font-size:12px;
}
#u19474 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u19475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19475 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:651px;
  width:73px;
  height:28px;
  font-size:12px;
}
#u19476 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u19477_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19477 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:651px;
  width:73px;
  height:28px;
  font-size:12px;
}
#u19478 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u19479_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19479 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:651px;
  width:73px;
  height:28px;
  font-size:12px;
}
#u19480 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u19481_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19481 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:651px;
  width:73px;
  height:28px;
  font-size:12px;
}
#u19482 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u19483_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19483 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:689px;
  width:73px;
  height:28px;
  font-size:12px;
}
#u19484 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u19485_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19485 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:689px;
  width:73px;
  height:28px;
  font-size:12px;
}
#u19486 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u19487_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19487 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:689px;
  width:73px;
  height:28px;
  font-size:12px;
}
#u19488 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u19489_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19489 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:689px;
  width:73px;
  height:28px;
  font-size:12px;
}
#u19490 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u19491_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19491 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:727px;
  width:73px;
  height:28px;
  font-size:12px;
}
#u19492 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u19493_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19493 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:727px;
  width:73px;
  height:28px;
  font-size:12px;
}
#u19494 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u19495_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19495 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:727px;
  width:73px;
  height:28px;
  font-size:12px;
}
#u19496 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u19497_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19497 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:727px;
  width:73px;
  height:28px;
  font-size:12px;
}
#u19498 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u19499_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19499 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:765px;
  width:73px;
  height:28px;
  font-size:12px;
}
#u19500 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u19501_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19501 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:765px;
  width:73px;
  height:28px;
  font-size:12px;
}
#u19502 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u19503_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19503 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:765px;
  width:73px;
  height:28px;
  font-size:12px;
}
#u19504 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
