body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1100px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19066 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19067_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1090px;
  height:80px;
}
#u19067 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1090px;
  height:80px;
  font-family:'Adobe 楷体 Std R', 'Adobe 楷体 Std';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u19068 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:1086px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19069_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe 楷体 Std R Bold', 'Adobe 楷体 Std R', 'Adobe 楷体 Std';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u19069 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:32px;
  width:145px;
  height:40px;
  font-family:'Adobe 楷体 Std R Bold', 'Adobe 楷体 Std R', 'Adobe 楷体 Std';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u19070 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u19071_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:83px;
}
#u19071 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:10px;
  width:3px;
  height:80px;
}
#u19072 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19073 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19074_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:78px;
}
#u19074 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:11px;
  width:100px;
  height:78px;
}
#u19075 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19076_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u19076 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:37px;
  width:38px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u19077 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u19078 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19079_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:78px;
}
#u19079 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:11px;
  width:135px;
  height:78px;
}
#u19080 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19081_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u19081 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:37px;
  width:56px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u19082 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u19083 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19084_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:78px;
}
#u19084 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:11px;
  width:135px;
  height:78px;
}
#u19085 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19086_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u19086 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:37px;
  width:75px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u19087 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u19088 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19089_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:78px;
}
#u19089 {
  border-width:0px;
  position:absolute;
  left:701px;
  top:11px;
  width:135px;
  height:78px;
}
#u19090 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19091_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u19091 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:37px;
  width:38px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u19092 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u19093 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19094_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:78px;
}
#u19094 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:12px;
  width:135px;
  height:78px;
}
#u19095 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19096_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u19096 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:39px;
  width:71px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u19097 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u19098_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:571px;
}
#u19098 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:155px;
  width:284px;
  height:571px;
}
#u19099 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:278px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:436px;
}
#u19100 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:223px;
  width:251px;
  height:436px;
}
#u19101 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:210px;
  width:247px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:571px;
}
#u19102 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:753px;
  width:284px;
  height:571px;
}
#u19103 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:278px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:39px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19104 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:820px;
  width:250px;
  height:39px;
}
#u19105 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:23px;
}
#u19106 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:830px;
  width:16px;
  height:23px;
  color:#FFFFFF;
}
#u19107 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:23px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19108 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:830px;
  width:196px;
  height:23px;
}
#u19109 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19110_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:402px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19110 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:859px;
  width:250px;
  height:402px;
}
#u19111 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:193px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19112 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:866px;
  width:25px;
  height:14px;
  font-size:12px;
}
#u19113 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u19114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19114 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:866px;
  width:25px;
  height:14px;
  font-size:12px;
}
#u19115 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u19116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19116 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:866px;
  width:25px;
  height:14px;
  font-size:12px;
}
#u19117 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u19118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u19118 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:886px;
  width:250px;
  height:1px;
}
#u19119 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u19120 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:890px;
  width:43px;
  height:13px;
  font-size:10px;
}
#u19121 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u19122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u19122 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:913px;
  width:61px;
  height:22px;
  font-size:10px;
}
#u19123 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:57px;
  word-wrap:break-word;
}
#u19124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19124 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:913px;
  width:93px;
  height:22px;
}
#u19125 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19126 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:913px;
  width:61px;
  height:22px;
}
#u19127 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19128 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:945px;
  width:93px;
  height:22px;
}
#u19129 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19130 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:945px;
  width:61px;
  height:22px;
}
#u19131 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19132 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:945px;
  width:61px;
  height:22px;
}
#u19133 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19134 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:975px;
  width:93px;
  height:22px;
}
#u19135 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19136 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:975px;
  width:61px;
  height:22px;
}
#u19137 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19138 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:975px;
  width:61px;
  height:22px;
}
#u19139 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u19140 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:890px;
  width:63px;
  height:13px;
  font-size:10px;
}
#u19141 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u19142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:571px;
}
#u19142 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:753px;
  width:284px;
  height:571px;
}
#u19143 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:278px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:39px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19144 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:820px;
  width:250px;
  height:39px;
}
#u19145 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:23px;
}
#u19146 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:830px;
  width:16px;
  height:23px;
  color:#FFFFFF;
}
#u19147 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:23px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u19148 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:830px;
  width:201px;
  height:23px;
  text-align:left;
}
#u19149 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:197px;
  word-wrap:break-word;
}
#u19150_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:402px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19150 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:859px;
  width:250px;
  height:402px;
}
#u19151 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:193px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19152 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:866px;
  width:25px;
  height:14px;
  font-size:12px;
}
#u19153 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u19154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19154 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:866px;
  width:25px;
  height:14px;
  font-size:12px;
}
#u19155 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u19156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19156 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:866px;
  width:25px;
  height:14px;
  font-size:12px;
}
#u19157 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u19158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u19158 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:886px;
  width:250px;
  height:1px;
}
#u19159 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u19160 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:897px;
  width:53px;
  height:13px;
  font-size:10px;
}
#u19161 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u19162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u19162 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:920px;
  width:43px;
  height:13px;
  font-size:10px;
}
#u19163 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u19164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u19164 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:945px;
  width:53px;
  height:13px;
  font-size:10px;
}
#u19165 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u19166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u19166 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:968px;
  width:43px;
  height:13px;
  font-size:10px;
}
#u19167 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u19168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u19168 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:991px;
  width:53px;
  height:13px;
  font-size:10px;
}
#u19169 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u19170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u19170 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:1014px;
  width:43px;
  height:13px;
  font-size:10px;
}
#u19171 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u19172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u19172 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:1039px;
  width:126px;
  height:13px;
  font-size:10px;
}
#u19173 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u19174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u19174 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:1062px;
  width:105px;
  height:13px;
  font-size:10px;
}
#u19175 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u19176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u19176 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:1085px;
  width:105px;
  height:13px;
  font-size:10px;
}
#u19177 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u19178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u19178 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:1109px;
  width:126px;
  height:13px;
  font-size:10px;
}
#u19179 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u19180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u19180 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:1132px;
  width:105px;
  height:13px;
  font-size:10px;
}
#u19181 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u19182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u19182 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:1155px;
  width:105px;
  height:13px;
  font-size:10px;
}
#u19183 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u19184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u19184 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:913px;
  width:250px;
  height:1px;
}
#u19185 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u19186 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:940px;
  width:250px;
  height:1px;
}
#u19187 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u19188 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:965px;
  width:250px;
  height:1px;
}
#u19189 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u19190 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:985px;
  width:250px;
  height:1px;
}
#u19191 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u19192 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:1012px;
  width:250px;
  height:1px;
}
#u19193 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u19194 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:1037px;
  width:250px;
  height:1px;
}
#u19195 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u19196 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:1057px;
  width:250px;
  height:1px;
}
#u19197 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u19198 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:1084px;
  width:250px;
  height:1px;
}
#u19199 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u19200 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:1109px;
  width:250px;
  height:1px;
}
#u19201 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u19202 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:1129px;
  width:250px;
  height:1px;
}
#u19203 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u19204 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:1156px;
  width:250px;
  height:1px;
}
#u19205 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u19206 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:1181px;
  width:250px;
  height:1px;
}
#u19207 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19208_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:40px;
  height:31px;
}
#u19208 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:892px;
  width:25px;
  height:5px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u19209 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19210_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:40px;
  height:31px;
}
#u19210 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:922px;
  width:25px;
  height:5px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u19211 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19212_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:40px;
  height:31px;
}
#u19212 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:952px;
  width:25px;
  height:5px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u19213 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19214_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:40px;
  height:31px;
}
#u19214 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:992px;
  width:25px;
  height:5px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u19215 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19216_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:40px;
  height:31px;
}
#u19216 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:1017px;
  width:25px;
  height:5px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u19217 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19218_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:40px;
  height:31px;
}
#u19218 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:1043px;
  width:25px;
  height:5px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u19219 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19220_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:40px;
  height:31px;
}
#u19220 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:972px;
  width:25px;
  height:5px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u19221 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19222_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:40px;
  height:31px;
}
#u19222 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:1092px;
  width:25px;
  height:5px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u19223 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19224_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:40px;
  height:31px;
}
#u19224 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:1117px;
  width:25px;
  height:5px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u19225 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19226_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:40px;
  height:31px;
}
#u19226 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:1143px;
  width:25px;
  height:5px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u19227 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19228_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:40px;
  height:31px;
}
#u19228 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:1072px;
  width:25px;
  height:5px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u19229 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19230_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:40px;
  height:31px;
}
#u19230 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:1163px;
  width:25px;
  height:5px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u19231 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:141px;
}
#u19232 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:1120px;
  width:251px;
  height:141px;
}
#u19233 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:247px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19234_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:72px;
  height:31px;
}
#u19234 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:1001px;
  width:57px;
  height:5px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u19235 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:2px;
}
#u19236 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:1001px;
  width:159px;
  height:1px;
}
#u19237 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:176px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19238 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:1049px;
  width:127px;
  height:176px;
}
#u19239 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u19240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u19240 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:835px;
  width:1px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u19241 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u19242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u19242 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:834px;
  width:14px;
  height:14px;
}
#u19243 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19244 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:1007px;
  width:201px;
  height:22px;
}
#u19245 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19246 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:1039px;
  width:61px;
  height:22px;
}
#u19247 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19248_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19248 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:1039px;
  width:93px;
  height:22px;
}
#u19249 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19250_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19250 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:1039px;
  width:61px;
  height:22px;
}
#u19251 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19252 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:1071px;
  width:93px;
  height:22px;
}
#u19253 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19254 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:1071px;
  width:61px;
  height:22px;
}
#u19255 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19256_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19256 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:1071px;
  width:61px;
  height:22px;
}
#u19257 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19258_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19258 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:1101px;
  width:93px;
  height:22px;
}
#u19259 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19260 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:1101px;
  width:61px;
  height:22px;
}
#u19261 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19262_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19262 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:1101px;
  width:61px;
  height:22px;
}
#u19263 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19264_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19264 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:1133px;
  width:201px;
  height:22px;
}
#u19265 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19266_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FF0000;
}
#u19266 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:913px;
  width:64px;
  height:13px;
  font-size:10px;
  color:#FF0000;
}
#u19267 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
