body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1100px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19526 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19527_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1090px;
  height:80px;
}
#u19527 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1090px;
  height:80px;
  font-family:'Adobe 楷体 Std R', 'Adobe 楷体 Std';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u19528 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:1086px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe 楷体 Std R Bold', 'Adobe 楷体 Std R', 'Adobe 楷体 Std';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u19529 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:32px;
  width:145px;
  height:40px;
  font-family:'Adobe 楷体 Std R Bold', 'Adobe 楷体 Std R', 'Adobe 楷体 Std';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u19530 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u19531_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:83px;
}
#u19531 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:10px;
  width:3px;
  height:80px;
}
#u19532 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19533 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19534_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:78px;
}
#u19534 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:11px;
  width:100px;
  height:78px;
}
#u19535 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19536_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u19536 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:37px;
  width:38px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u19537 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u19538 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19539_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:78px;
}
#u19539 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:11px;
  width:135px;
  height:78px;
}
#u19540 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19541_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u19541 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:37px;
  width:56px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u19542 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u19543 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19544_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:78px;
}
#u19544 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:11px;
  width:135px;
  height:78px;
}
#u19545 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19546_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u19546 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:37px;
  width:75px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u19547 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u19548 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19549_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:78px;
}
#u19549 {
  border-width:0px;
  position:absolute;
  left:701px;
  top:11px;
  width:135px;
  height:78px;
}
#u19550 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19551_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u19551 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:37px;
  width:38px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u19552 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u19553 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19554_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:78px;
}
#u19554 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:12px;
  width:135px;
  height:78px;
}
#u19555 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19556_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u19556 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:39px;
  width:71px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u19557 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u19558_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:571px;
}
#u19558 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:155px;
  width:284px;
  height:571px;
}
#u19559 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:278px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19560_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:436px;
}
#u19560 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:223px;
  width:251px;
  height:436px;
}
#u19561 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:210px;
  width:247px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19562_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:571px;
}
#u19562 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:753px;
  width:284px;
  height:571px;
}
#u19563 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:278px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19564_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:39px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19564 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:820px;
  width:250px;
  height:39px;
}
#u19565 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19566_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:23px;
}
#u19566 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:830px;
  width:16px;
  height:23px;
  color:#FFFFFF;
}
#u19567 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19568_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:23px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19568 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:830px;
  width:196px;
  height:23px;
}
#u19569 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19570_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:402px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19570 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:859px;
  width:250px;
  height:402px;
}
#u19571 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:193px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19572_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19572 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:866px;
  width:25px;
  height:14px;
  font-size:12px;
}
#u19573 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u19574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19574 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:866px;
  width:25px;
  height:14px;
  font-size:12px;
}
#u19575 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u19576_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19576 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:866px;
  width:25px;
  height:14px;
  font-size:12px;
}
#u19577 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u19578_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u19578 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:886px;
  width:250px;
  height:1px;
}
#u19579 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19580_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u19580 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:890px;
  width:43px;
  height:13px;
  font-size:10px;
}
#u19581 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u19582_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u19582 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:913px;
  width:61px;
  height:22px;
  font-size:10px;
}
#u19583 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:57px;
  word-wrap:break-word;
}
#u19584_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19584 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:913px;
  width:93px;
  height:22px;
}
#u19585 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19586_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19586 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:913px;
  width:61px;
  height:22px;
}
#u19587 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19588_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19588 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:945px;
  width:93px;
  height:22px;
}
#u19589 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19590_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19590 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:945px;
  width:61px;
  height:22px;
}
#u19591 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19592_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19592 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:945px;
  width:61px;
  height:22px;
}
#u19593 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19594_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19594 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:975px;
  width:93px;
  height:22px;
}
#u19595 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19596_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19596 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:975px;
  width:61px;
  height:22px;
}
#u19597 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19598_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19598 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:975px;
  width:61px;
  height:22px;
}
#u19599 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19600_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u19600 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:890px;
  width:63px;
  height:13px;
  font-size:10px;
}
#u19601 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u19602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:571px;
}
#u19602 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:753px;
  width:284px;
  height:571px;
}
#u19603 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:278px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19604_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:39px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19604 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:820px;
  width:250px;
  height:39px;
}
#u19605 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:23px;
}
#u19606 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:830px;
  width:16px;
  height:23px;
  color:#FFFFFF;
}
#u19607 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19608_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:23px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u19608 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:830px;
  width:201px;
  height:23px;
  text-align:left;
}
#u19609 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:197px;
  word-wrap:break-word;
}
#u19610_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:402px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19610 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:859px;
  width:250px;
  height:402px;
}
#u19611 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:193px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19612_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19612 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:866px;
  width:25px;
  height:14px;
  font-size:12px;
}
#u19613 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u19614_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19614 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:866px;
  width:25px;
  height:14px;
  font-size:12px;
}
#u19615 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u19616_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u19616 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:866px;
  width:25px;
  height:14px;
  font-size:12px;
}
#u19617 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u19618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u19618 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:886px;
  width:250px;
  height:1px;
}
#u19619 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19620_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u19620 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:897px;
  width:53px;
  height:13px;
  font-size:10px;
}
#u19621 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u19622_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u19622 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:920px;
  width:43px;
  height:13px;
  font-size:10px;
}
#u19623 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u19624_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u19624 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:945px;
  width:53px;
  height:13px;
  font-size:10px;
}
#u19625 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u19626_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u19626 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:968px;
  width:43px;
  height:13px;
  font-size:10px;
}
#u19627 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u19628_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u19628 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:991px;
  width:53px;
  height:13px;
  font-size:10px;
}
#u19629 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u19630_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u19630 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:1014px;
  width:43px;
  height:13px;
  font-size:10px;
}
#u19631 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u19632_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u19632 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:1039px;
  width:126px;
  height:13px;
  font-size:10px;
}
#u19633 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u19634_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u19634 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:1062px;
  width:105px;
  height:13px;
  font-size:10px;
}
#u19635 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u19636_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u19636 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:1085px;
  width:105px;
  height:13px;
  font-size:10px;
}
#u19637 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u19638_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u19638 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:1109px;
  width:126px;
  height:13px;
  font-size:10px;
}
#u19639 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u19640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u19640 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:1132px;
  width:105px;
  height:13px;
  font-size:10px;
}
#u19641 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u19642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u19642 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:1155px;
  width:105px;
  height:13px;
  font-size:10px;
}
#u19643 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u19644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u19644 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:913px;
  width:250px;
  height:1px;
}
#u19645 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u19646 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:940px;
  width:250px;
  height:1px;
}
#u19647 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u19648 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:965px;
  width:250px;
  height:1px;
}
#u19649 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u19650 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:985px;
  width:250px;
  height:1px;
}
#u19651 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u19652 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:1012px;
  width:250px;
  height:1px;
}
#u19653 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u19654 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:1037px;
  width:250px;
  height:1px;
}
#u19655 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u19656 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:1057px;
  width:250px;
  height:1px;
}
#u19657 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u19658 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:1084px;
  width:250px;
  height:1px;
}
#u19659 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u19660 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:1109px;
  width:250px;
  height:1px;
}
#u19661 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u19662 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:1129px;
  width:250px;
  height:1px;
}
#u19663 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u19664 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:1156px;
  width:250px;
  height:1px;
}
#u19665 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u19666 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:1181px;
  width:250px;
  height:1px;
}
#u19667 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19668_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:40px;
  height:31px;
}
#u19668 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:892px;
  width:25px;
  height:5px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u19669 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19670_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:40px;
  height:31px;
}
#u19670 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:922px;
  width:25px;
  height:5px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u19671 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19672_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:40px;
  height:31px;
}
#u19672 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:952px;
  width:25px;
  height:5px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u19673 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19674_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:40px;
  height:31px;
}
#u19674 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:992px;
  width:25px;
  height:5px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u19675 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19676_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:40px;
  height:31px;
}
#u19676 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:1017px;
  width:25px;
  height:5px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u19677 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19678_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:40px;
  height:31px;
}
#u19678 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:1043px;
  width:25px;
  height:5px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u19679 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19680_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:40px;
  height:31px;
}
#u19680 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:972px;
  width:25px;
  height:5px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u19681 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19682_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:40px;
  height:31px;
}
#u19682 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:1092px;
  width:25px;
  height:5px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u19683 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19684_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:40px;
  height:31px;
}
#u19684 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:1117px;
  width:25px;
  height:5px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u19685 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19686_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:40px;
  height:31px;
}
#u19686 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:1143px;
  width:25px;
  height:5px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u19687 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19688_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:40px;
  height:31px;
}
#u19688 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:1072px;
  width:25px;
  height:5px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u19689 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19690_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:40px;
  height:31px;
}
#u19690 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:1163px;
  width:25px;
  height:5px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u19691 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:141px;
}
#u19692 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:1120px;
  width:251px;
  height:141px;
}
#u19693 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:247px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19694_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:72px;
  height:31px;
}
#u19694 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:1001px;
  width:57px;
  height:5px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u19695 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:2px;
}
#u19696 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:1001px;
  width:159px;
  height:1px;
}
#u19697 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19698_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:176px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19698 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:1049px;
  width:127px;
  height:176px;
}
#u19699 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u19700_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u19700 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:835px;
  width:1px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u19701 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u19702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u19702 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:834px;
  width:14px;
  height:14px;
}
#u19703 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19704_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19704 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:1007px;
  width:201px;
  height:22px;
}
#u19705 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19706_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19706 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:1039px;
  width:61px;
  height:22px;
}
#u19707 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19708_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19708 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:1039px;
  width:93px;
  height:22px;
}
#u19709 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19710_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19710 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:1039px;
  width:61px;
  height:22px;
}
#u19711 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19712_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19712 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:1071px;
  width:93px;
  height:22px;
}
#u19713 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19714_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19714 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:1071px;
  width:61px;
  height:22px;
}
#u19715 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19716_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19716 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:1071px;
  width:61px;
  height:22px;
}
#u19717 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19718_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19718 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:1101px;
  width:93px;
  height:22px;
}
#u19719 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19720_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19720 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:1101px;
  width:61px;
  height:22px;
}
#u19721 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19722_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19722 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:1101px;
  width:61px;
  height:22px;
}
#u19723 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19724_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19724 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:1133px;
  width:201px;
  height:22px;
}
#u19725 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19726_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FF0000;
}
#u19726 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:913px;
  width:64px;
  height:13px;
  font-size:10px;
  color:#FF0000;
}
#u19727 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
