body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:760px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u41458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:770px;
}
#u41458 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:50px;
  width:357px;
  height:770px;
}
#u41459 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:378px;
  width:353px;
  word-wrap:break-word;
}
#u41460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:590px;
}
#u41460 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:140px;
  width:318px;
  height:590px;
}
#u41461 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:287px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41462_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:530px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u41462 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:130px;
  width:300px;
  height:530px;
  text-align:left;
  line-height:20px;
}
#u41463 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  word-wrap:break-word;
}
