body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:870px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u39130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:936px;
}
#u39130 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:24px;
  width:430px;
  height:936px;
}
#u39131 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:460px;
  width:426px;
  word-wrap:break-word;
}
#u39132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:720px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39132 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:128px;
  width:383px;
  height:720px;
}
#u39133 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:352px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:15px;
}
#u39134 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:128px;
  width:383px;
  height:15px;
}
#u39135 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u39136 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:153px;
  width:383px;
  height:50px;
  font-size:18px;
}
#u39137 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:25px;
}
#u39138 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:168px;
  width:13px;
  height:25px;
  color:#1E1E1E;
}
#u39139 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:2px;
}
#u39140 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:203px;
  width:383px;
  height:1px;
}
#u39141 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u39142 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:162px;
  width:270px;
  height:35px;
  text-align:left;
}
#u39143 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:266px;
  word-wrap:break-word;
}
#u39144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u39144 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:168px;
  width:17px;
  height:20px;
}
#u39145 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:2px;
}
#u39146 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:189px;
  width:14px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u39147 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:2px;
}
#u39148 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:238px;
  width:383px;
  height:1px;
}
#u39149 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39150_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39150 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:169px;
  width:30px;
  height:18px;
}
#u39151 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u39152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u39152 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:163px;
  width:15px;
  height:15px;
  color:#FFFFFF;
}
#u39153 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u39154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u39154 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:214px;
  width:73px;
  height:18px;
  color:#000000;
}
#u39155 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u39156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39156 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:214px;
  width:59px;
  height:18px;
}
#u39157 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u39158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:12px;
}
#u39158 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:217px;
  width:13px;
  height:12px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u39159 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:16px;
}
#u39160 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:216px;
  width:1px;
  height:15px;
}
#u39161 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39162 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:215px;
  width:59px;
  height:18px;
}
#u39163 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u39164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:12px;
}
#u39164 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:218px;
  width:13px;
  height:12px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u39165 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:16px;
}
#u39166 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:218px;
  width:1px;
  height:15px;
}
#u39167 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:12px;
}
#u39168 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:217px;
  width:13px;
  height:12px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u39169 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39170 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39171 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:207px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39172 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:243px;
  width:376px;
  height:207px;
}
#u39173 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:96px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39174 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39175 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:77px;
}
#u39176 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:264px;
  width:76px;
  height:77px;
}
#u39177 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u39178 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:250px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u39179 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u39180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u39180 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:275px;
  width:63px;
  height:14px;
  font-size:12px;
}
#u39181 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u39182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:15px;
}
#u39182 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:326px;
  width:35px;
  height:15px;
  font-size:12px;
}
#u39183 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u39184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u39184 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:326px;
  width:25px;
  height:14px;
  font-size:12px;
}
#u39185 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u39186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u39186 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:326px;
  width:61px;
  height:14px;
  font-size:12px;
}
#u39187 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u39188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u39188 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:326px;
  width:73px;
  height:14px;
  font-size:12px;
}
#u39189 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u39190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:15px;
}
#u39190 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:351px;
  width:35px;
  height:15px;
  font-size:12px;
}
#u39191 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u39192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u39192 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:351px;
  width:73px;
  height:14px;
  font-size:12px;
}
#u39193 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u39194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF9900;
}
#u39194 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:327px;
  width:15px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF9900;
}
#u39195 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u39196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u39196 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:351px;
  width:73px;
  height:14px;
  font-size:12px;
}
#u39197 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u39198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u39198 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:376px;
  width:73px;
  height:14px;
  font-size:12px;
}
#u39199 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u39200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u39200 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:376px;
  width:73px;
  height:14px;
  font-size:12px;
}
#u39201 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u39202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u39202 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:376px;
  width:73px;
  height:14px;
  font-size:12px;
}
#u39203 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u39204 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u39205 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:295px;
  width:228px;
  height:14px;
  font-size:12px;
}
#u39206 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  white-space:nowrap;
}
#u39207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:15px;
}
#u39207 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:295px;
  width:35px;
  height:15px;
  font-size:12px;
}
#u39208 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u39209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:15px;
}
#u39209 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:420px;
  width:35px;
  height:15px;
  font-size:12px;
}
#u39210 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u39211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u39211 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:421px;
  width:239px;
  height:14px;
  font-size:12px;
}
#u39212 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u39213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:15px;
}
#u39213 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:396px;
  width:35px;
  height:15px;
  font-size:12px;
}
#u39214 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u39215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u39215 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:397px;
  width:176px;
  height:14px;
  font-size:12px;
}
#u39216 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  white-space:nowrap;
}
#u39217 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39218 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:207px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39219 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:460px;
  width:376px;
  height:207px;
}
#u39220 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:96px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39221 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39222 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:77px;
}
#u39223 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:481px;
  width:76px;
  height:77px;
}
#u39224 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u39225 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:467px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u39226 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u39227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u39227 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:492px;
  width:63px;
  height:14px;
  font-size:12px;
}
#u39228 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u39229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:15px;
}
#u39229 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:543px;
  width:35px;
  height:15px;
  font-size:12px;
}
#u39230 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u39231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u39231 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:543px;
  width:25px;
  height:14px;
  font-size:12px;
}
#u39232 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u39233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u39233 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:543px;
  width:61px;
  height:14px;
  font-size:12px;
}
#u39234 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u39235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u39235 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:543px;
  width:73px;
  height:14px;
  font-size:12px;
}
#u39236 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u39237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:15px;
}
#u39237 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:568px;
  width:35px;
  height:15px;
  font-size:12px;
}
#u39238 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u39239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u39239 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:568px;
  width:73px;
  height:14px;
  font-size:12px;
}
#u39240 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u39241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF9900;
}
#u39241 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:544px;
  width:15px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF9900;
}
#u39242 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u39243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u39243 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:568px;
  width:73px;
  height:14px;
  font-size:12px;
}
#u39244 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u39245_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u39245 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:593px;
  width:73px;
  height:14px;
  font-size:12px;
}
#u39246 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u39247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u39247 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:593px;
  width:73px;
  height:14px;
  font-size:12px;
}
#u39248 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u39249_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u39249 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:593px;
  width:73px;
  height:14px;
  font-size:12px;
}
#u39250 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u39251 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u39252 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:512px;
  width:228px;
  height:14px;
  font-size:12px;
}
#u39253 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  white-space:nowrap;
}
#u39254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:15px;
}
#u39254 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:512px;
  width:35px;
  height:15px;
  font-size:12px;
}
#u39255 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u39256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:15px;
}
#u39256 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:637px;
  width:35px;
  height:15px;
  font-size:12px;
}
#u39257 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u39258_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u39258 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:638px;
  width:239px;
  height:14px;
  font-size:12px;
}
#u39259 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u39260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:15px;
}
#u39260 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:613px;
  width:35px;
  height:15px;
  font-size:12px;
}
#u39261 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u39262_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u39262 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:614px;
  width:176px;
  height:14px;
  font-size:12px;
}
#u39263 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  white-space:nowrap;
}
#u39264_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:530px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u39264 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:98px;
  width:300px;
  height:530px;
  text-align:left;
  line-height:20px;
}
#u39265 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  word-wrap:break-word;
}
