body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1100px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19979 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1090px;
  height:80px;
}
#u19980 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1090px;
  height:80px;
  font-family:'Adobe 楷体 Std R', 'Adobe 楷体 Std';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u19981 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:1086px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe 楷体 Std R Bold', 'Adobe 楷体 Std R', 'Adobe 楷体 Std';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u19982 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:32px;
  width:145px;
  height:40px;
  font-family:'Adobe 楷体 Std R Bold', 'Adobe 楷体 Std R', 'Adobe 楷体 Std';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u19983 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u19984_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:83px;
}
#u19984 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:10px;
  width:3px;
  height:80px;
}
#u19985 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19986 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:78px;
}
#u19987 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:11px;
  width:100px;
  height:78px;
}
#u19988 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19989_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u19989 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:37px;
  width:38px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u19990 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u19991 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:78px;
}
#u19992 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:11px;
  width:135px;
  height:78px;
}
#u19993 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19994_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u19994 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:37px;
  width:56px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u19995 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u19996 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:78px;
}
#u19997 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:11px;
  width:135px;
  height:78px;
}
#u19998 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u19999 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:37px;
  width:75px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u20000 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u20001 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:78px;
}
#u20002 {
  border-width:0px;
  position:absolute;
  left:701px;
  top:11px;
  width:135px;
  height:78px;
}
#u20003 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20004_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u20004 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:37px;
  width:38px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u20005 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u20006 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:78px;
}
#u20007 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:12px;
  width:135px;
  height:78px;
}
#u20008 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20009_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u20009 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:39px;
  width:71px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u20010 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u20011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:571px;
}
#u20011 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:155px;
  width:284px;
  height:571px;
}
#u20012 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:278px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:440px;
}
#u20013 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:219px;
  width:255px;
  height:440px;
}
#u20014 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:212px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:66px;
}
#u20015 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:280px;
  width:202px;
  height:66px;
}
#u20016 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:198px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:82px;
}
#u20017 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:538px;
  width:193px;
  height:82px;
}
#u20018 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:33px;
  width:189px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:54px;
}
#u20019 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:232px;
  width:66px;
  height:54px;
  opacity:0.5;
}
#u20020 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20021_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u20021 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:669px;
  width:196px;
  height:73px;
}
#u20022 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
