body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1387px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u41172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:810px;
}
#u41172 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:50px;
  width:357px;
  height:810px;
}
#u41173 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:398px;
  width:353px;
  word-wrap:break-word;
}
#u41174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:630px;
}
#u41174 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:140px;
  width:318px;
  height:630px;
}
#u41175 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:307px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:810px;
}
#u41176 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:50px;
  width:357px;
  height:810px;
}
#u41177 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:398px;
  width:353px;
  word-wrap:break-word;
}
#u41178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:630px;
}
#u41178 {
  border-width:0px;
  position:absolute;
  left:572px;
  top:140px;
  width:318px;
  height:630px;
}
#u41179 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:307px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:810px;
}
#u41180 {
  border-width:0px;
  position:absolute;
  left:1030px;
  top:50px;
  width:357px;
  height:810px;
}
#u41181 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:398px;
  width:353px;
  word-wrap:break-word;
}
#u41182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:630px;
}
#u41182 {
  border-width:0px;
  position:absolute;
  left:1049px;
  top:140px;
  width:318px;
  height:630px;
}
#u41183 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:307px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
