body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2520px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u41618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:740px;
}
#u41618 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:50px;
  width:357px;
  height:740px;
}
#u41619 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:362px;
  width:353px;
  word-wrap:break-word;
}
#u41620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:523px;
}
#u41620 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:140px;
  width:317px;
  height:523px;
}
#u41621 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:254px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41622_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41622 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:663px;
  width:317px;
  height:40px;
}
#u41623 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41624_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41624 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:663px;
  width:94px;
  height:40px;
}
#u41625 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:90px;
  word-wrap:break-word;
}
#u41626_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41626 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:663px;
  width:94px;
  height:40px;
}
#u41627 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:90px;
  word-wrap:break-word;
}
#u41628_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41628 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:663px;
  width:63px;
  height:40px;
}
#u41629 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:59px;
  word-wrap:break-word;
}
#u41630_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 51, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u41630 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:663px;
  width:57px;
  height:40px;
  color:#FFFFFF;
}
#u41631 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:53px;
  word-wrap:break-word;
}
#u41632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:740px;
}
#u41632 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:50px;
  width:357px;
  height:740px;
}
#u41633 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:362px;
  width:353px;
  word-wrap:break-word;
}
#u41634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:566px;
}
#u41634 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:137px;
  width:318px;
  height:566px;
}
#u41635 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:275px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41636_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 51, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u41636 {
  border-width:0px;
  position:absolute;
  left:891px;
  top:661px;
  width:79px;
  height:42px;
  color:#FFFFFF;
}
#u41637 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:75px;
  word-wrap:break-word;
}
#u41638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:740px;
}
#u41638 {
  border-width:0px;
  position:absolute;
  left:1150px;
  top:50px;
  width:357px;
  height:740px;
}
#u41639 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:362px;
  width:353px;
  word-wrap:break-word;
}
#u41640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:503px;
}
#u41640 {
  border-width:0px;
  position:absolute;
  left:1171px;
  top:200px;
  width:315px;
  height:503px;
}
#u41641 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:244px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u41642 {
  border-width:0px;
  position:absolute;
  left:1171px;
  top:137px;
  width:315px;
  height:64px;
  font-size:18px;
}
#u41643 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:21px;
}
#u41644 {
  border-width:0px;
  position:absolute;
  left:1187px;
  top:171px;
  width:11px;
  height:21px;
  color:#1E1E1E;
}
#u41645 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:12px;
}
#u41646 {
  border-width:0px;
  position:absolute;
  left:1171px;
  top:139px;
  width:315px;
  height:12px;
}
#u41647 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u41648 {
  border-width:0px;
  position:absolute;
  left:1220px;
  top:166px;
  width:111px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u41649 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:107px;
  word-wrap:break-word;
}
#u41650_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u41650 {
  border-width:0px;
  position:absolute;
  left:1339px;
  top:167px;
  width:111px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u41651 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:107px;
  word-wrap:break-word;
}
#u41652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:740px;
}
#u41652 {
  border-width:0px;
  position:absolute;
  left:1660px;
  top:50px;
  width:357px;
  height:740px;
}
#u41653 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:362px;
  width:353px;
  word-wrap:break-word;
}
#u41654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u41654 {
  border-width:0px;
  position:absolute;
  left:1681px;
  top:137px;
  width:315px;
  height:64px;
  font-size:18px;
}
#u41655 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:21px;
}
#u41656 {
  border-width:0px;
  position:absolute;
  left:1697px;
  top:171px;
  width:11px;
  height:21px;
  color:#1E1E1E;
}
#u41657 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:12px;
}
#u41658 {
  border-width:0px;
  position:absolute;
  left:1681px;
  top:139px;
  width:315px;
  height:12px;
}
#u41659 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u41660 {
  border-width:0px;
  position:absolute;
  left:1851px;
  top:167px;
  width:111px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u41661 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:107px;
  word-wrap:break-word;
}
#u41662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u41662 {
  border-width:0px;
  position:absolute;
  left:1730px;
  top:167px;
  width:111px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u41663 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:107px;
  word-wrap:break-word;
}
#u41664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:740px;
}
#u41664 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:840px;
  width:357px;
  height:740px;
}
#u41665 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:362px;
  width:353px;
  word-wrap:break-word;
}
#u41666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:523px;
}
#u41666 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:928px;
  width:317px;
  height:523px;
}
#u41667 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:254px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41668_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41668 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:1453px;
  width:317px;
  height:40px;
}
#u41669 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41670_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41670 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:1453px;
  width:94px;
  height:40px;
}
#u41671 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:90px;
  word-wrap:break-word;
}
#u41672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41672 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:1453px;
  width:94px;
  height:40px;
}
#u41673 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:90px;
  word-wrap:break-word;
}
#u41674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41674 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:1453px;
  width:63px;
  height:40px;
}
#u41675 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:59px;
  word-wrap:break-word;
}
#u41676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 51, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u41676 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:1453px;
  width:57px;
  height:40px;
  color:#FFFFFF;
}
#u41677 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:53px;
  word-wrap:break-word;
}
#u41678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:553px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41678 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:940px;
  width:317px;
  height:553px;
  opacity:0.5;
}
#u41679 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:268px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:423px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41680 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:1070px;
  width:317px;
  height:423px;
}
#u41681 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:204px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41682_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u41682 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1082px;
  width:229px;
  height:14px;
  font-size:12px;
}
#u41683 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  white-space:nowrap;
}
#u41684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u41684 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:1082px;
  width:15px;
  height:15px;
}
#u41685 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41686_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41686 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1106px;
  width:73px;
  height:18px;
}
#u41687 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u41688_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41688 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1142px;
  width:73px;
  height:18px;
}
#u41689 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u41690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:2px;
}
#u41690 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1134px;
  width:280px;
  height:1px;
}
#u41691 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:2px;
}
#u41692 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1170px;
  width:280px;
  height:1px;
}
#u41693 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41694_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41694 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1181px;
  width:73px;
  height:18px;
}
#u41695 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u41696_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41696 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1209px;
  width:90px;
  height:21px;
}
#u41697 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:86px;
  word-wrap:break-word;
}
#u41698_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41698 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:1209px;
  width:90px;
  height:21px;
}
#u41699 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:86px;
  word-wrap:break-word;
}
#u41700_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41700 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:1209px;
  width:90px;
  height:21px;
}
#u41701 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:86px;
  word-wrap:break-word;
}
#u41702_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41702 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1240px;
  width:90px;
  height:21px;
}
#u41703 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:86px;
  word-wrap:break-word;
}
#u41704_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41704 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:1240px;
  width:90px;
  height:21px;
}
#u41705 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:86px;
  word-wrap:break-word;
}
#u41706_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41706 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:1240px;
  width:90px;
  height:21px;
}
#u41707 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:86px;
  word-wrap:break-word;
}
#u41708_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41708 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1271px;
  width:90px;
  height:21px;
}
#u41709 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:86px;
  word-wrap:break-word;
}
#u41710_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41710 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1310px;
  width:122px;
  height:18px;
}
#u41711 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u41712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:2px;
}
#u41712 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1370px;
  width:280px;
  height:1px;
}
#u41713 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:2px;
}
#u41714 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1299px;
  width:280px;
  height:1px;
}
#u41715 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41716_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41716 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:1390px;
  width:64px;
  height:18px;
}
#u41717 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u41718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:2px;
}
#u41718 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:1453px;
  width:280px;
  height:1px;
}
#u41719 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41720_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:29px;
  background:inherit;
  background-color:rgba(0, 51, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u41720 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:1464px;
  width:317px;
  height:29px;
  color:#FFFFFF;
}
#u41721 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:313px;
  word-wrap:break-word;
}
#u41722 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:683px;
  width:0px;
  height:0px;
}
#u41722_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:76px;
  height:8px;
}
#u41722_seg1 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:-4px;
  width:8px;
  height:535px;
}
#u41722_seg2 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:523px;
  width:54px;
  height:8px;
}
#u41722_seg3 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:515px;
  width:24px;
  height:24px;
}
#u41723 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:244px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:740px;
}
#u41724 {
  border-width:0px;
  position:absolute;
  left:2163px;
  top:50px;
  width:357px;
  height:740px;
}
#u41725 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:362px;
  width:353px;
  word-wrap:break-word;
}
#u41726_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u41726 {
  border-width:0px;
  position:absolute;
  left:2184px;
  top:137px;
  width:315px;
  height:64px;
  font-size:18px;
}
#u41727 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:21px;
}
#u41728 {
  border-width:0px;
  position:absolute;
  left:2200px;
  top:171px;
  width:11px;
  height:21px;
  color:#1E1E1E;
}
#u41729 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:12px;
}
#u41730 {
  border-width:0px;
  position:absolute;
  left:2184px;
  top:139px;
  width:315px;
  height:12px;
}
#u41731 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
