body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:420px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u41975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:870px;
}
#u41975 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:50px;
  width:357px;
  height:870px;
}
#u41976 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:428px;
  width:353px;
  word-wrap:break-word;
}
#u41977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:320px;
}
#u41977 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:140px;
  width:315px;
  height:320px;
}
#u41978 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:152px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:316px;
}
#u41979 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:504px;
  width:315px;
  height:316px;
}
#u41980 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:150px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41981_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41981 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:460px;
  width:315px;
  height:44px;
}
#u41982 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41983_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u41983 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:478px;
  width:52px;
  height:15px;
  font-size:13px;
}
#u41984 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u41985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u41985 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:478px;
  width:15px;
  height:15px;
}
#u41986 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:26px;
}
#u41987 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:477px;
  width:20px;
  height:26px;
}
#u41988 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:26px;
}
#u41989 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:508px;
  width:20px;
  height:26px;
}
#u41990 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
