body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:420px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u42005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:870px;
}
#u42005 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:50px;
  width:357px;
  height:870px;
}
#u42006 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:428px;
  width:353px;
  word-wrap:break-word;
}
#u42007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:320px;
}
#u42007 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:140px;
  width:315px;
  height:320px;
}
#u42008 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:152px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:316px;
}
#u42009 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:504px;
  width:315px;
  height:316px;
}
#u42010 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:150px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42011_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42011 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:460px;
  width:315px;
  height:44px;
}
#u42012 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42013_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u42013 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:478px;
  width:52px;
  height:15px;
  font-size:13px;
}
#u42014 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u42015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u42015 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:478px;
  width:15px;
  height:15px;
}
#u42016 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:26px;
}
#u42017 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:477px;
  width:20px;
  height:26px;
}
#u42018 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:26px;
}
#u42019 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:508px;
  width:20px;
  height:26px;
}
#u42020 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
