body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:923px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u41987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:1086px;
}
#u41987 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:24px;
  width:430px;
  height:1086px;
}
#u41988 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:536px;
  width:426px;
  word-wrap:break-word;
}
#u41989_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41989 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:143px;
  width:383px;
  height:67px;
}
#u41990 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:15px;
}
#u41991 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:128px;
  width:383px;
  height:15px;
}
#u41992 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:25px;
}
#u41993 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:168px;
  width:13px;
  height:25px;
  color:#1E1E1E;
}
#u41994 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u41995 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:168px;
  width:113px;
  height:19px;
  font-size:16px;
}
#u41996 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u41997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:780px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41997 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:210px;
  width:383px;
  height:780px;
}
#u41998 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:382px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41999 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:215px;
  width:383px;
  height:65px;
}
#u42000 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42001_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42001 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:275px;
  width:383px;
  height:45px;
}
#u42002 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42003_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42003 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:289px;
  width:231px;
  height:18px;
}
#u42004 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  white-space:nowrap;
}
#u42005_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u42005 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:287px;
  width:67px;
  height:20px;
  color:#FFFFFF;
}
#u42006 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:63px;
  word-wrap:break-word;
}
#u42007_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42007 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:284px;
  width:383px;
  height:100px;
}
#u42008 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42009_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u42009 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:289px;
  width:59px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u42010 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u42011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:47px;
}
#u42011 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:317px;
  width:50px;
  height:47px;
}
#u42012 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42013_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42013 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:317px;
  width:59px;
  height:18px;
}
#u42014 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u42015_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42015 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:354px;
  width:59px;
  height:18px;
}
#u42016 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u42017_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42017 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:319px;
  width:30px;
  height:18px;
}
#u42018 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u42019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u42019 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:319px;
  width:12px;
  height:12px;
}
#u42020 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u42021 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:356px;
  width:12px;
  height:12px;
}
#u42022 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u42023 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:322px;
  width:12px;
  height:12px;
}
#u42024 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42025_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42025 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:387px;
  width:383px;
  height:45px;
}
#u42026 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42027_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42027 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:437px;
  width:383px;
  height:45px;
}
#u42028 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42029_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42029 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:487px;
  width:383px;
  height:45px;
}
#u42030 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42031_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42031 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:397px;
  width:59px;
  height:18px;
}
#u42032 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u42033_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u42033 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:397px;
  width:20px;
  height:20px;
}
#u42034 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42035_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42035 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:447px;
  width:44px;
  height:18px;
}
#u42036 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u42037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u42037 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:447px;
  width:20px;
  height:20px;
}
#u42038 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42039_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42039 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:497px;
  width:87px;
  height:18px;
}
#u42040 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u42041_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u42041 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:497px;
  width:20px;
  height:20px;
}
#u42042 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42043_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
}
#u42043 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:392px;
  width:15px;
  height:25px;
}
#u42044 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42045_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
}
#u42045 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:443px;
  width:15px;
  height:25px;
}
#u42046 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42047_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
}
#u42047 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:493px;
  width:15px;
  height:25px;
}
#u42048 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42049_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3366CC;
}
#u42049 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:450px;
  width:39px;
  height:18px;
  color:#3366CC;
}
#u42050 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u42051_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3366CC;
}
#u42051 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:497px;
  width:47px;
  height:18px;
  color:#3366CC;
}
#u42052 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u42053_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u42053 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:243px;
  width:20px;
  height:20px;
}
#u42054 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42055_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42055 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:245px;
  width:87px;
  height:18px;
}
#u42056 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u42057_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42057 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:227px;
  width:102px;
  height:18px;
}
#u42058 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u42059_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 204, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u42059 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:225px;
  width:67px;
  height:20px;
  color:#FFFFFF;
}
#u42060 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:63px;
  word-wrap:break-word;
}
#u42061_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42061 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:353px;
  width:30px;
  height:18px;
}
#u42062 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u42063_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u42063 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:356px;
  width:12px;
  height:12px;
}
#u42064 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
