body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:923px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u42974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:1086px;
}
#u42974 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:24px;
  width:430px;
  height:1086px;
}
#u42975 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:536px;
  width:426px;
  word-wrap:break-word;
}
#u42976_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42976 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:143px;
  width:383px;
  height:67px;
}
#u42977 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:15px;
}
#u42978 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:128px;
  width:383px;
  height:15px;
}
#u42979 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:25px;
}
#u42980 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:168px;
  width:13px;
  height:25px;
  color:#1E1E1E;
}
#u42981 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u42982 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:168px;
  width:113px;
  height:19px;
  font-size:16px;
}
#u42983 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u42984_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:780px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42984 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:210px;
  width:383px;
  height:780px;
}
#u42985 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:382px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42986_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42986 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:215px;
  width:383px;
  height:65px;
}
#u42987 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42988_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42988 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:275px;
  width:383px;
  height:45px;
}
#u42989 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42990_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42990 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:289px;
  width:231px;
  height:18px;
}
#u42991 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  white-space:nowrap;
}
#u42992_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u42992 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:287px;
  width:67px;
  height:20px;
  color:#FFFFFF;
}
#u42993 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:63px;
  word-wrap:break-word;
}
#u42994_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42994 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:284px;
  width:383px;
  height:100px;
}
#u42995 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42996_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u42996 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:289px;
  width:59px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u42997 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u42998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:47px;
}
#u42998 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:317px;
  width:50px;
  height:47px;
}
#u42999 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43000_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u43000 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:317px;
  width:59px;
  height:18px;
}
#u43001 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u43002_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u43002 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:354px;
  width:59px;
  height:18px;
}
#u43003 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u43004_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u43004 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:319px;
  width:30px;
  height:18px;
}
#u43005 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u43006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u43006 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:319px;
  width:12px;
  height:12px;
}
#u43007 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u43008 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:356px;
  width:12px;
  height:12px;
}
#u43009 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u43010 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:322px;
  width:12px;
  height:12px;
}
#u43011 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43012_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u43012 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:387px;
  width:383px;
  height:45px;
}
#u43013 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43014_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u43014 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:437px;
  width:383px;
  height:45px;
}
#u43015 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43016_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u43016 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:487px;
  width:383px;
  height:45px;
}
#u43017 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43018_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u43018 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:397px;
  width:59px;
  height:18px;
}
#u43019 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u43020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u43020 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:397px;
  width:20px;
  height:20px;
}
#u43021 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43022_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u43022 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:447px;
  width:44px;
  height:18px;
}
#u43023 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u43024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u43024 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:447px;
  width:20px;
  height:20px;
}
#u43025 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43026_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u43026 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:497px;
  width:87px;
  height:18px;
}
#u43027 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u43028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u43028 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:497px;
  width:20px;
  height:20px;
}
#u43029 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
}
#u43030 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:392px;
  width:15px;
  height:25px;
}
#u43031 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43032_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
}
#u43032 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:443px;
  width:15px;
  height:25px;
}
#u43033 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
}
#u43034 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:493px;
  width:15px;
  height:25px;
}
#u43035 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43036_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3366CC;
}
#u43036 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:450px;
  width:39px;
  height:18px;
  color:#3366CC;
}
#u43037 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u43038_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3366CC;
}
#u43038 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:497px;
  width:47px;
  height:18px;
  color:#3366CC;
}
#u43039 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u43040_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u43040 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:243px;
  width:20px;
  height:20px;
}
#u43041 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43042_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u43042 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:245px;
  width:87px;
  height:18px;
}
#u43043 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u43044_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u43044 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:227px;
  width:102px;
  height:18px;
}
#u43045 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u43046_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 204, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u43046 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:225px;
  width:67px;
  height:20px;
  color:#FFFFFF;
}
#u43047 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:63px;
  word-wrap:break-word;
}
#u43048_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u43048 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:353px;
  width:30px;
  height:18px;
}
#u43049 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u43050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u43050 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:356px;
  width:12px;
  height:12px;
}
#u43051 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
