body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:4540px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u42198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:740px;
}
#u42198 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:830px;
  width:357px;
  height:740px;
}
#u42199 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:362px;
  width:353px;
  word-wrap:break-word;
}
#u42200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:565px;
}
#u42200 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:918px;
  width:317px;
  height:565px;
}
#u42201 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:274px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:740px;
}
#u42202 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:451px;
  width:357px;
  height:740px;
}
#u42203 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:362px;
  width:353px;
  word-wrap:break-word;
}
#u42204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:572px;
}
#u42204 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:539px;
  width:317px;
  height:572px;
}
#u42205 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:278px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:820px;
}
#u42206 {
  border-width:0px;
  position:absolute;
  left:2603px;
  top:440px;
  width:357px;
  height:820px;
}
#u42207 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:402px;
  width:353px;
  word-wrap:break-word;
}
#u42208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:740px;
}
#u42208 {
  border-width:0px;
  position:absolute;
  left:1170px;
  top:830px;
  width:357px;
  height:740px;
}
#u42209 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:362px;
  width:353px;
  word-wrap:break-word;
}
#u42210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:740px;
}
#u42210 {
  border-width:0px;
  position:absolute;
  left:3083px;
  top:50px;
  width:357px;
  height:740px;
}
#u42211 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:362px;
  width:353px;
  word-wrap:break-word;
}
#u42212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:643px;
}
#u42212 {
  border-width:0px;
  position:absolute;
  left:2624px;
  top:527px;
  width:318px;
  height:643px;
}
#u42213 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:314px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:566px;
}
#u42214 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:917px;
  width:318px;
  height:566px;
}
#u42215 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:275px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:566px;
}
#u42216 {
  border-width:0px;
  position:absolute;
  left:3103px;
  top:137px;
  width:318px;
  height:566px;
}
#u42217 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:275px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:740px;
}
#u42218 {
  border-width:0px;
  position:absolute;
  left:3083px;
  top:900px;
  width:357px;
  height:740px;
}
#u42219 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:362px;
  width:353px;
  word-wrap:break-word;
}
#u42220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:566px;
}
#u42220 {
  border-width:0px;
  position:absolute;
  left:3103px;
  top:987px;
  width:318px;
  height:566px;
}
#u42221 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:275px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42222 {
  border-width:0px;
  position:absolute;
  left:2910px;
  top:690px;
  width:0px;
  height:0px;
}
#u42222_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:356px;
  height:8px;
}
#u42222_seg1 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:-4px;
  width:8px;
  height:214px;
}
#u42222_seg2 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:195px;
  width:24px;
  height:24px;
}
#u42223 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42224 {
  border-width:0px;
  position:absolute;
  left:2920px;
  top:810px;
  width:0px;
  height:0px;
}
#u42224_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:107px;
  height:8px;
}
#u42224_seg1 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:-794px;
  width:8px;
  height:798px;
}
#u42224_seg2 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:-794px;
  width:247px;
  height:8px;
}
#u42224_seg3 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:-794px;
  width:8px;
  height:34px;
}
#u42224_seg4 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:-775px;
  width:24px;
  height:24px;
}
#u42225 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-486px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:740px;
}
#u42226 {
  border-width:0px;
  position:absolute;
  left:2103px;
  top:440px;
  width:357px;
  height:740px;
}
#u42227 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:362px;
  width:353px;
  word-wrap:break-word;
}
#u42228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:566px;
}
#u42228 {
  border-width:0px;
  position:absolute;
  left:2124px;
  top:527px;
  width:318px;
  height:566px;
}
#u42229 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:275px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:740px;
}
#u42230 {
  border-width:0px;
  position:absolute;
  left:3810px;
  top:50px;
  width:357px;
  height:740px;
}
#u42231 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:362px;
  width:353px;
  word-wrap:break-word;
}
#u42232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:566px;
}
#u42232 {
  border-width:0px;
  position:absolute;
  left:3830px;
  top:137px;
  width:318px;
  height:566px;
}
#u42233 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:275px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42234 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:1460px;
  width:0px;
  height:0px;
}
#u42234_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:124px;
  height:8px;
}
#u42234_seg1 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:-643px;
  width:8px;
  height:647px;
}
#u42234_seg2 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:-643px;
  width:107px;
  height:8px;
}
#u42234_seg3 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:-651px;
  width:24px;
  height:24px;
}
#u42235 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:-319px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:740px;
}
#u42236 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:1290px;
  width:357px;
  height:740px;
}
#u42237 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:362px;
  width:353px;
  word-wrap:break-word;
}
#u42238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:574px;
}
#u42238 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:1376px;
  width:317px;
  height:574px;
}
#u42239 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:279px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42240 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:1490px;
  width:0px;
  height:0px;
}
#u42240_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:174px;
}
#u42240_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:166px;
  width:347px;
  height:8px;
}
#u42240_seg2 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:158px;
  width:24px;
  height:24px;
}
#u42241 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:162px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42242 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:1090px;
  width:0px;
  height:0px;
}
#u42242_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:94px;
  height:8px;
}
#u42242_seg1 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:-94px;
  width:8px;
  height:98px;
}
#u42242_seg2 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:-94px;
  width:104px;
  height:8px;
}
#u42242_seg3 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:-102px;
  width:24px;
  height:24px;
}
#u42243 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:-58px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42244 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:1920px;
  width:0px;
  height:0px;
}
#u42244_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:94px;
  height:8px;
}
#u42244_seg1 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:-734px;
  width:8px;
  height:738px;
}
#u42244_seg2 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:-734px;
  width:228px;
  height:8px;
}
#u42244_seg3 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:-820px;
  width:8px;
  height:94px;
}
#u42244_seg4 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:-829px;
  width:24px;
  height:24px;
}
#u42245 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:-483px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42246 {
  border-width:0px;
  position:absolute;
  left:2460px;
  top:1070px;
  width:0px;
  height:0px;
}
#u42246_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:84px;
  height:8px;
}
#u42246_seg1 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:-504px;
  width:8px;
  height:508px;
}
#u42246_seg2 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:-504px;
  width:74px;
  height:8px;
}
#u42246_seg3 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:-512px;
  width:24px;
  height:24px;
}
#u42247 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:-253px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42248_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:49px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u42248 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:1226px;
  width:240px;
  height:49px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u42249 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:236px;
  word-wrap:break-word;
}
#u42248_ann {
  border-width:0px;
  position:absolute;
  left:673px;
  top:1222px;
  width:1px;
  height:1px;
}
#u42250_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u42250 {
  border-width:0px;
  position:absolute;
  left:1310px;
  top:1170px;
  width:250px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u42251 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:246px;
  word-wrap:break-word;
}
#u42250_ann {
  border-width:0px;
  position:absolute;
  left:1553px;
  top:1166px;
  width:1px;
  height:1px;
}
#u42252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u42252 {
  border-width:0px;
  position:absolute;
  left:2632px;
  top:1185px;
  width:300px;
  height:100px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u42253 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:296px;
  word-wrap:break-word;
}
#u42252_ann {
  border-width:0px;
  position:absolute;
  left:2925px;
  top:1181px;
  width:1px;
  height:1px;
}
#u42254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u42254 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:1120px;
  width:140px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u42255 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:136px;
  word-wrap:break-word;
}
#u42254_ann {
  border-width:0px;
  position:absolute;
  left:1133px;
  top:1116px;
  width:1px;
  height:1px;
}
#u42256_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u42256 {
  border-width:0px;
  position:absolute;
  left:4240px;
  top:270px;
  width:300px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u42257 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:296px;
  word-wrap:break-word;
}
#u42258 {
  border-width:0px;
  position:absolute;
  left:4110px;
  top:290px;
  width:0px;
  height:0px;
}
#u42258_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:74px;
  height:8px;
}
#u42258_seg1 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:-4px;
  width:8px;
  height:28px;
}
#u42258_seg2 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:16px;
  width:64px;
  height:8px;
}
#u42258_seg3 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:8px;
  width:24px;
  height:24px;
}
#u42259 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
  text-align:left;
}
#u42260 {
  border-width:0px;
  position:absolute;
  left:3480px;
  top:200px;
  width:300px;
  height:170px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
  text-align:left;
}
#u42261 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:47px;
  width:296px;
  word-wrap:break-word;
}
#u42262 {
  border-width:0px;
  position:absolute;
  left:3400px;
  top:280px;
  width:0px;
  height:0px;
}
#u42262_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:74px;
  height:8px;
}
#u42262_seg1 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:-12px;
  width:24px;
  height:24px;
}
#u42263 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42264_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
  text-align:left;
}
#u42264 {
  border-width:0px;
  position:absolute;
  left:3480px;
  top:1050px;
  width:300px;
  height:170px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
  text-align:left;
}
#u42265 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:47px;
  width:296px;
  word-wrap:break-word;
}
#u42266 {
  border-width:0px;
  position:absolute;
  left:3400px;
  top:1130px;
  width:0px;
  height:0px;
}
#u42266_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:74px;
  height:8px;
}
#u42266_seg1 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:-12px;
  width:24px;
  height:24px;
}
#u42267 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:844px;
}
#u42268 {
  border-width:0px;
  position:absolute;
  left:2093px;
  top:1226px;
  width:357px;
  height:844px;
}
#u42269 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:414px;
  width:353px;
  word-wrap:break-word;
}
#u42270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:656px;
}
#u42270 {
  border-width:0px;
  position:absolute;
  left:2111px;
  top:1314px;
  width:318px;
  height:656px;
}
#u42271 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:320px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42272_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42272 {
  border-width:0px;
  position:absolute;
  left:2340px;
  top:1440px;
  width:89px;
  height:60px;
  opacity:0.5;
}
#u42273 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42274_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42274 {
  border-width:0px;
  position:absolute;
  left:2353px;
  top:1040px;
  width:89px;
  height:60px;
  opacity:0.5;
}
#u42275 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42276_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u42276 {
  border-width:0px;
  position:absolute;
  left:2952px;
  top:576px;
  width:210px;
  height:170px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u42277 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:206px;
  word-wrap:break-word;
}
#u42278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:740px;
}
#u42278 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:1730px;
  width:357px;
  height:740px;
}
#u42279 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:362px;
  width:353px;
  word-wrap:break-word;
}
#u42280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:565px;
}
#u42280 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:1818px;
  width:317px;
  height:565px;
}
#u42281 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:274px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42282 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:740px;
}
#u42283 {
  border-width:0px;
  position:absolute;
  left:1635px;
  top:1670px;
  width:357px;
  height:740px;
}
#u42284 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:362px;
  width:353px;
  word-wrap:break-word;
}
#u42285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:570px;
}
#u42285 {
  border-width:0px;
  position:absolute;
  left:1655px;
  top:1757px;
  width:318px;
  height:570px;
}
#u42286 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:278px;
  width:314px;
  word-wrap:break-word;
}
#u42287_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:740px;
}
#u42287 {
  border-width:0px;
  position:absolute;
  left:1635px;
  top:830px;
  width:357px;
  height:740px;
}
#u42288 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:362px;
  width:353px;
  word-wrap:break-word;
}
#u42289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:570px;
}
#u42289 {
  border-width:0px;
  position:absolute;
  left:1655px;
  top:917px;
  width:318px;
  height:570px;
}
#u42290 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:278px;
  width:314px;
  word-wrap:break-word;
}
#u42291 {
  border-width:0px;
  position:absolute;
  left:1508px;
  top:1200px;
  width:0px;
  height:0px;
}
#u42291_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:131px;
  height:8px;
}
#u42291_seg1 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:-12px;
  width:24px;
  height:24px;
}
#u42292 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42293_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u42293 {
  border-width:0px;
  position:absolute;
  left:1694px;
  top:1580px;
  width:239px;
  height:70px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u42294 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:235px;
  word-wrap:break-word;
}
#u42293_ann {
  border-width:0px;
  position:absolute;
  left:1926px;
  top:1576px;
  width:1px;
  height:1px;
}
#u42295_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF0000;
}
#u42295 {
  border-width:0px;
  position:absolute;
  left:2750px;
  top:1130px;
  width:300px;
  height:40px;
  font-size:14px;
  color:#FF0000;
}
#u42296 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:296px;
  word-wrap:break-word;
}
