body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:987px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1512_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:963px;
  height:512px;
}
#u1512 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:57px;
  width:963px;
  height:512px;
}
#u1513 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:248px;
  width:959px;
  visibility:hidden;
  word-wrap:break-word;
}
