body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1038px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u40035_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u40035 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:23px;
  width:430px;
  height:880px;
}
#u40036 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  word-wrap:break-word;
}
#u40037_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:673px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40037 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:127px;
  width:383px;
  height:673px;
}
#u40038 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:328px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40039_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:15px;
}
#u40039 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:127px;
  width:383px;
  height:15px;
}
#u40040 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40041_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u40041 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:152px;
  width:383px;
  height:50px;
  font-size:18px;
}
#u40042 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40043_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:25px;
}
#u40043 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:165px;
  width:13px;
  height:25px;
  color:#1E1E1E;
}
#u40044 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40045_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:27px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u40045 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:165px;
  width:140px;
  height:27px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u40046 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u40047_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u40047 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:165px;
  width:140px;
  height:27px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u40048 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u40049_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:2px;
}
#u40049 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:202px;
  width:383px;
  height:1px;
}
#u40050 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40051_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u40051 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:170px;
  width:15px;
  height:17px;
  font-size:10px;
  color:#FFFFFF;
}
#u40052 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  word-wrap:break-word;
}
#u40053_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u40053 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:167px;
  width:16px;
  height:17px;
  font-size:10px;
  color:#FFFFFF;
}
#u40054 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:12px;
  word-wrap:break-word;
}
#u40055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u40055 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:213px;
  width:50px;
  height:50px;
}
#u40056 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40057_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40057 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:219px;
  width:104px;
  height:18px;
}
#u40058 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u40059_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40059 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:243px;
  width:116px;
  height:18px;
}
#u40060 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u40061 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40062_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40062 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:228px;
  width:72px;
  height:21px;
}
#u40063 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:14px;
}
#u40064 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:231px;
  width:28px;
  height:14px;
}
#u40065 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40066_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u40066 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:231px;
  width:35px;
  height:14px;
  font-size:12px;
}
#u40067 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u40068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:2px;
}
#u40068 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:273px;
  width:383px;
  height:1px;
}
#u40069 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u40070 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:283px;
  width:50px;
  height:50px;
}
#u40071 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40072_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40072 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:289px;
  width:104px;
  height:18px;
}
#u40073 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u40074_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40074 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:313px;
  width:116px;
  height:18px;
}
#u40075 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u40076 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40077_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40077 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:298px;
  width:72px;
  height:21px;
}
#u40078 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40079_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:14px;
}
#u40079 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:301px;
  width:28px;
  height:14px;
}
#u40080 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40081_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u40081 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:301px;
  width:35px;
  height:14px;
  font-size:12px;
}
#u40082 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u40083_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:2px;
}
#u40083 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:343px;
  width:383px;
  height:1px;
}
#u40084 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40085_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u40085 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:353px;
  width:50px;
  height:50px;
}
#u40086 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40087_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40087 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:359px;
  width:104px;
  height:18px;
}
#u40088 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u40089_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40089 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:383px;
  width:116px;
  height:18px;
}
#u40090 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u40091_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:2px;
}
#u40091 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:413px;
  width:383px;
  height:1px;
}
#u40092 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40093_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:21px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40093 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:371px;
  width:77px;
  height:21px;
}
#u40094 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40095_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:6px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u40095 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:374px;
  width:49px;
  height:6px;
  font-size:12px;
}
#u40096 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u40097_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:18px;
}
#u40097 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:371px;
  width:13px;
  height:18px;
}
#u40098 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40099_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u40099 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:23px;
  width:430px;
  height:880px;
}
#u40100 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  word-wrap:break-word;
}
#u40101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:673px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40101 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:127px;
  width:383px;
  height:673px;
}
#u40102 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:328px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:15px;
}
#u40103 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:127px;
  width:383px;
  height:15px;
}
#u40104 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u40105 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:152px;
  width:383px;
  height:50px;
  font-size:18px;
}
#u40106 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:25px;
}
#u40107 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:165px;
  width:13px;
  height:25px;
  color:#1E1E1E;
}
#u40108 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:27px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u40109 {
  border-width:0px;
  position:absolute;
  left:834px;
  top:165px;
  width:140px;
  height:27px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u40110 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u40111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:2px;
}
#u40111 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:202px;
  width:383px;
  height:1px;
}
#u40112 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u40113 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:170px;
  width:15px;
  height:17px;
  font-size:10px;
  color:#FFFFFF;
}
#u40114 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  word-wrap:break-word;
}
#u40115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u40115 {
  border-width:0px;
  position:absolute;
  left:950px;
  top:167px;
  width:16px;
  height:17px;
  font-size:10px;
  color:#FFFFFF;
}
#u40116 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:12px;
  word-wrap:break-word;
}
#u40117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u40117 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:166px;
  width:140px;
  height:27px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u40118 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u40119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u40119 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:170px;
  width:15px;
  height:17px;
  font-size:10px;
  color:#FFFFFF;
}
#u40120 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  word-wrap:break-word;
}
#u40121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:2px;
}
#u40121 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:282px;
  width:383px;
  height:1px;
}
#u40122 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:49px;
}
#u40123 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:217px;
  width:64px;
  height:49px;
}
#u40124 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:60px;
  word-wrap:break-word;
}
#u40125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40125 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:222px;
  width:30px;
  height:18px;
}
#u40126 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u40127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u40127 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:249px;
  width:80px;
  height:14px;
  font-size:12px;
}
#u40128 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u40129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:2px;
}
#u40129 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:362px;
  width:383px;
  height:1px;
}
#u40130 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:49px;
}
#u40131 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:297px;
  width:64px;
  height:49px;
}
#u40132 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:60px;
  word-wrap:break-word;
}
#u40133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40133 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:302px;
  width:30px;
  height:18px;
}
#u40134 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u40135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u40135 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:329px;
  width:80px;
  height:14px;
  font-size:12px;
}
#u40136 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u40137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:2px;
}
#u40137 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:442px;
  width:383px;
  height:1px;
}
#u40138 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:49px;
}
#u40139 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:377px;
  width:64px;
  height:49px;
}
#u40140 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:60px;
  word-wrap:break-word;
}
#u40141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40141 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:382px;
  width:30px;
  height:18px;
}
#u40142 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u40143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u40143 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:409px;
  width:80px;
  height:14px;
  font-size:12px;
}
#u40144 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u40145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:2px;
}
#u40145 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:522px;
  width:383px;
  height:1px;
}
#u40146 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:49px;
}
#u40147 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:457px;
  width:64px;
  height:49px;
}
#u40148 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:60px;
  word-wrap:break-word;
}
#u40149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40149 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:462px;
  width:30px;
  height:18px;
}
#u40150 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u40151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u40151 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:489px;
  width:80px;
  height:14px;
  font-size:12px;
}
#u40152 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u40153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:2px;
}
#u40153 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:602px;
  width:383px;
  height:1px;
}
#u40154 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:49px;
}
#u40155 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:537px;
  width:64px;
  height:49px;
}
#u40156 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:60px;
  word-wrap:break-word;
}
#u40157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40157 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:542px;
  width:30px;
  height:18px;
}
#u40158 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u40159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u40159 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:569px;
  width:80px;
  height:14px;
  font-size:12px;
}
#u40160 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u40161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:27px;
}
#u40161 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:197px;
  width:53px;
  height:27px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u40162 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:49px;
  word-wrap:break-word;
}
#u40163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:27px;
}
#u40163 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:276px;
  width:53px;
  height:27px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u40164 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:49px;
  word-wrap:break-word;
}
#u40165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:27px;
}
#u40165 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:356px;
  width:53px;
  height:27px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u40166 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:49px;
  word-wrap:break-word;
}
#u40167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u40167 {
  border-width:0px;
  position:absolute;
  left:911px;
  top:245px;
  width:90px;
  height:14px;
  font-size:12px;
}
#u40168 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u40169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u40169 {
  border-width:0px;
  position:absolute;
  left:898px;
  top:311px;
  width:103px;
  height:14px;
  font-size:12px;
}
#u40170 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u40171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u40171 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:391px;
  width:96px;
  height:14px;
  font-size:12px;
}
#u40172 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u40173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u40173 {
  border-width:0px;
  position:absolute;
  left:891px;
  top:471px;
  width:110px;
  height:14px;
  font-size:12px;
}
#u40174 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u40175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u40175 {
  border-width:0px;
  position:absolute;
  left:891px;
  top:551px;
  width:110px;
  height:14px;
  font-size:12px;
}
#u40176 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
