body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:420px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u42036_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:1080px;
}
#u42036 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:50px;
  width:357px;
  height:1080px;
}
#u42037 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:532px;
  width:353px;
  word-wrap:break-word;
}
#u42038_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:830px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42038 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:180px;
  width:320px;
  height:830px;
}
#u42039 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:407px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42040_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:440px;
}
#u42040 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:180px;
  width:317px;
  height:440px;
}
#u42041 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:212px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42042 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42043 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:178px;
}
#u42044 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:794px;
  width:317px;
  height:178px;
}
#u42045 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:81px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42046_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42046 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:619px;
  width:317px;
  height:40px;
}
#u42047 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:105px;
}
#u42048 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:656px;
  width:317px;
  height:105px;
}
#u42049 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:25px;
}
#u42050 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:628px;
  width:310px;
  height:25px;
}
#u42051 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42052 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42053_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42053 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:761px;
  width:318px;
  height:28px;
}
#u42054 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42055 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42056_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u42056 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:763px;
  width:22px;
  height:22px;
}
#u42057 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42058_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u42058 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:767px;
  width:27px;
  height:15px;
  font-size:13px;
}
#u42059 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u42060 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:22px;
}
#u42061 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:765px;
  width:19px;
  height:22px;
}
#u42062 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42063_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u42063 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:768px;
  width:27px;
  height:15px;
  font-size:13px;
}
#u42064 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u42065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:25px;
}
#u42065 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:763px;
  width:1px;
  height:24px;
}
#u42066 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42067_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:25px;
}
#u42067 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:763px;
  width:1px;
  height:24px;
}
#u42068 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42069_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u42069 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:767px;
  width:27px;
  height:15px;
  font-size:13px;
}
#u42070 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u42071_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
}
#u42071 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:766px;
  width:21px;
  height:19px;
}
#u42072 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42073 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42074_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42074 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:973px;
  width:318px;
  height:28px;
}
#u42075 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42076 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42077_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u42077 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:975px;
  width:22px;
  height:22px;
}
#u42078 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42079_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u42079 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:979px;
  width:27px;
  height:15px;
  font-size:13px;
}
#u42080 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u42081 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42082_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:22px;
}
#u42082 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:977px;
  width:19px;
  height:22px;
}
#u42083 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42084_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u42084 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:980px;
  width:27px;
  height:15px;
  font-size:13px;
}
#u42085 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u42086_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:25px;
}
#u42086 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:975px;
  width:1px;
  height:24px;
}
#u42087 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42088_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:25px;
}
#u42088 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:975px;
  width:1px;
  height:24px;
}
#u42089 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42090_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u42090 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:979px;
  width:27px;
  height:15px;
  font-size:13px;
}
#u42091 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u42092_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
}
#u42092 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:978px;
  width:21px;
  height:19px;
}
#u42093 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
