body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:890px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u39098_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u39098 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:24px;
  width:430px;
  height:880px;
}
#u39099 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  word-wrap:break-word;
}
#u39100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:675px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39100 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:128px;
  width:382px;
  height:675px;
}
#u39101 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:330px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:15px;
}
#u39102 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:128px;
  width:383px;
  height:15px;
}
#u39103 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u39104 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:153px;
  width:383px;
  height:50px;
  font-size:18px;
}
#u39105 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:25px;
}
#u39106 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:168px;
  width:13px;
  height:25px;
  color:#1E1E1E;
}
#u39107 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:2px;
}
#u39108 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:203px;
  width:383px;
  height:1px;
}
#u39109 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39110_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u39110 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:172px;
  width:65px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u39111 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u39112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:600px;
}
#u39112 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:204px;
  width:382px;
  height:600px;
}
#u39113 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:292px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u39114 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:173px;
  width:33px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u39115 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u39116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u39116 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:681px;
  width:189px;
  height:49px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u39117 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:185px;
  word-wrap:break-word;
}
#u39118_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:49px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u39118 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:681px;
  width:189px;
  height:49px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u39119 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:185px;
  word-wrap:break-word;
}
#u39120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u39120 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:683px;
  width:300px;
  height:45px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u39121 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:296px;
  word-wrap:break-word;
}
#u39122 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:706px;
  width:0px;
  height:0px;
}
#u39122_seg0 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-4px;
  width:50px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u39122_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u39122_seg2 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:-10px;
  width:20px;
  height:20px;
}
#u39123 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u39124 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:158px;
  width:300px;
  height:45px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u39125 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:296px;
  word-wrap:break-word;
}
#u39126 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:181px;
  width:0px;
  height:0px;
}
#u39126_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-3px;
  width:48px;
  height:6px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u39126_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u39126_seg2 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:-10px;
  width:20px;
  height:20px;
}
#u39127 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39128 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:460px;
  width:300px;
  height:170px;
}
#u39129 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:70px;
  width:296px;
  word-wrap:break-word;
}
