body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1081px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u40843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u40843 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:615px;
  width:430px;
  height:880px;
}
#u40844 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  word-wrap:break-word;
}
#u40845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:673px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40845 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:719px;
  width:383px;
  height:673px;
}
#u40846 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:328px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:15px;
}
#u40847 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:719px;
  width:383px;
  height:15px;
}
#u40848 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40849_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u40849 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:744px;
  width:383px;
  height:50px;
  font-size:18px;
}
#u40850 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:25px;
}
#u40851 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:759px;
  width:13px;
  height:25px;
  color:#1E1E1E;
}
#u40852 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:2px;
}
#u40853 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:794px;
  width:383px;
  height:1px;
}
#u40854 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40855_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:152px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40855 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:968px;
  width:376px;
  height:152px;
}
#u40856 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:68px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:77px;
}
#u40857 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:804px;
  width:76px;
  height:77px;
}
#u40858 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40859_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40859 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:881px;
  width:75px;
  height:19px;
}
#u40860 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u40861_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40861 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:903px;
  width:30px;
  height:18px;
}
#u40862 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u40863_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF9900;
}
#u40863 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:865px;
  width:15px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF9900;
}
#u40864 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u40865_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u40865 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:925px;
  width:158px;
  height:14px;
  font-size:12px;
}
#u40866 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
#u40867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u40867 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:759px;
  width:48px;
  height:48px;
}
#u40868 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u40869 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:754px;
  width:30px;
  height:30px;
}
#u40870 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40871_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40871 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:867px;
  width:72px;
  height:21px;
}
#u40872 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:14px;
}
#u40873 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:870px;
  width:28px;
  height:14px;
}
#u40874 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u40875 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:870px;
  width:35px;
  height:14px;
  font-size:12px;
}
#u40876 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u40877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:15px;
}
#u40877 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:1007px;
  width:35px;
  height:15px;
  font-size:12px;
}
#u40878 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u40879_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u40879 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:1007px;
  width:25px;
  height:14px;
  font-size:12px;
}
#u40880 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u40881_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u40881 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:1007px;
  width:61px;
  height:14px;
  font-size:12px;
}
#u40882 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u40883_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u40883 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:1007px;
  width:73px;
  height:14px;
  font-size:12px;
}
#u40884 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u40885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:15px;
}
#u40885 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:1031px;
  width:35px;
  height:15px;
  font-size:12px;
}
#u40886 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u40887_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u40887 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:1031px;
  width:73px;
  height:14px;
  font-size:12px;
}
#u40888 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u40889_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u40889 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:1031px;
  width:73px;
  height:14px;
  font-size:12px;
}
#u40890 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u40891_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:right;
}
#u40891 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:1031px;
  width:15px;
  height:15px;
  font-size:10px;
  text-align:right;
}
#u40892 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:11px;
  word-wrap:break-word;
}
#u40893_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:right;
}
#u40893 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:1031px;
  width:15px;
  height:15px;
  font-size:10px;
  text-align:right;
}
#u40894 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:11px;
  word-wrap:break-word;
}
#u40895_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u40895 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:1031px;
  width:73px;
  height:14px;
  font-size:12px;
}
#u40896 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u40897_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:right;
}
#u40897 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:1030px;
  width:15px;
  height:15px;
  font-size:10px;
  text-align:right;
}
#u40898 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:11px;
  word-wrap:break-word;
}
#u40899_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u40899 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:1055px;
  width:73px;
  height:14px;
  font-size:12px;
}
#u40900 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u40901_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u40901 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:1055px;
  width:73px;
  height:14px;
  font-size:12px;
}
#u40902 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u40903_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:right;
}
#u40903 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:1055px;
  width:15px;
  height:15px;
  font-size:10px;
  text-align:right;
}
#u40904 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:11px;
  word-wrap:break-word;
}
#u40905_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:right;
}
#u40905 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:1055px;
  width:15px;
  height:15px;
  font-size:10px;
  text-align:right;
}
#u40906 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:11px;
  word-wrap:break-word;
}
#u40907_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u40907 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:982px;
  width:309px;
  height:14px;
  font-size:12px;
}
#u40908 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  white-space:nowrap;
}
#u40909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:15px;
}
#u40909 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:982px;
  width:35px;
  height:15px;
  font-size:12px;
}
#u40910 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u40911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:15px;
}
#u40911 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:1100px;
  width:35px;
  height:15px;
  font-size:12px;
}
#u40912 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u40913_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u40913 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:1101px;
  width:205px;
  height:14px;
  font-size:12px;
}
#u40914 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  white-space:nowrap;
}
#u40915_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u40915 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:945px;
  width:82px;
  height:14px;
  font-size:12px;
}
#u40916 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u40917_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u40917 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:944px;
  width:92px;
  height:14px;
  font-size:12px;
}
#u40918 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u40919_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u40919 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:1120px;
  width:73px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u40920 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u40921_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:204px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u40921 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:1144px;
  width:362px;
  height:204px;
  font-size:12px;
}
#u40922 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  word-wrap:break-word;
}
#u40923_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u40923 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:1348px;
  width:88px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u40924 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:84px;
  word-wrap:break-word;
}
#u40925_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u40925 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:1348px;
  width:207px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u40926 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:203px;
  word-wrap:break-word;
}
#u40927_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:44px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u40927 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:1392px;
  width:207px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u40928 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:203px;
  word-wrap:break-word;
}
#u40929_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u40929 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:1348px;
  width:88px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u40930 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:84px;
  word-wrap:break-word;
}
#u40931_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u40931 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:564px;
  width:300px;
  height:51px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u40932 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  word-wrap:break-word;
}
#u40933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:15px;
}
#u40933 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:1080px;
  width:35px;
  height:15px;
  font-size:12px;
}
#u40934 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u40935_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u40935 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:1081px;
  width:176px;
  height:14px;
  font-size:12px;
}
#u40936 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  white-space:nowrap;
}
#u40937 {
  position:absolute;
  left:120px;
  top:719px;
  visibility:hidden;
}
#u40937_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:383px;
  height:673px;
  background-image:none;
}
#u40937_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u40938 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40939_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:673px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40939 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:673px;
  opacity:0.5;
}
#u40940 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:328px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40941_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:326px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40941 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:165px;
  width:289px;
  height:326px;
}
#u40942 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:155px;
  width:285px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40943_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u40943 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:175px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u40944 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40945_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u40945 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:194px;
  width:87px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u40946 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u40947_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40947 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:240px;
  width:254px;
  height:15px;
}
#u40948 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  word-wrap:break-word;
}
#u40949_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:182px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40949 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:274px;
  width:254px;
  height:182px;
}
#u40950 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  word-wrap:break-word;
}
#u40951 {
  position:absolute;
  left:120px;
  top:719px;
  visibility:hidden;
}
#u40951_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:383px;
  height:673px;
  background-image:none;
}
#u40951_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u40952 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40953_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:673px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40953 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:673px;
  opacity:0.5;
}
#u40954 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:328px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:282px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40955 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:165px;
  width:289px;
  height:282px;
}
#u40956 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:133px;
  width:285px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u40957 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:175px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u40958 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40959_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u40959 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:194px;
  width:87px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u40960 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u40961_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40961 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:240px;
  width:254px;
  height:15px;
}
#u40962 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  word-wrap:break-word;
}
#u40963_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:152px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40963 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:269px;
  width:254px;
  height:152px;
}
#u40964 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  word-wrap:break-word;
}
#u40965 {
  position:absolute;
  left:120px;
  top:719px;
  visibility:hidden;
}
#u40965_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:383px;
  height:673px;
  background-image:none;
}
#u40965_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u40966 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:673px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40967 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:673px;
  opacity:0.5;
}
#u40968 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:328px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40969_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:282px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40969 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:165px;
  width:289px;
  height:282px;
}
#u40970 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:133px;
  width:285px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u40971 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:175px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u40972 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40973_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u40973 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:194px;
  width:87px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u40974 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u40975_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40975 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:240px;
  width:254px;
  height:15px;
}
#u40976 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  word-wrap:break-word;
}
#u40977_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40977 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:271px;
  width:254px;
  height:91px;
}
#u40978 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  word-wrap:break-word;
}
#u40979 {
  position:absolute;
  left:120px;
  top:719px;
  visibility:hidden;
}
#u40979_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:383px;
  height:673px;
  background-image:none;
}
#u40979_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u40980 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40981_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:673px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40981 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:673px;
  opacity:0.5;
}
#u40982 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:328px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40983_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:282px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40983 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:165px;
  width:289px;
  height:282px;
}
#u40984 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:133px;
  width:285px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u40985 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:175px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u40986 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40987_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u40987 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:194px;
  width:87px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u40988 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u40989_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40989 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:240px;
  width:254px;
  height:15px;
}
#u40990 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  word-wrap:break-word;
}
#u40991_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:106px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40991 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:269px;
  width:254px;
  height:106px;
}
#u40992 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  word-wrap:break-word;
}
#u40993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:68px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u40993 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:1531px;
  width:300px;
  height:68px;
  font-size:18px;
}
#u40994 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u40995 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:1436px;
  width:0px;
  height:0px;
}
#u40995_seg0 {
  border-width:0px;
  position:absolute;
  left:-48px;
  top:44px;
  width:96px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u40995_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u40995_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:82px;
  width:20px;
  height:20px;
}
#u40996 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40997 {
  position:absolute;
  left:120px;
  top:719px;
  visibility:hidden;
}
#u40997_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:383px;
  height:673px;
  background-image:none;
}
#u40997_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u40998 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:673px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40999 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:673px;
  opacity:0.5;
}
#u41000 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:328px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41001_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:282px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41001 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:165px;
  width:289px;
  height:282px;
}
#u41002 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:133px;
  width:285px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u41003 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:175px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u41004 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41005_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u41005 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:194px;
  width:87px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u41006 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u41007_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41007 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:240px;
  width:254px;
  height:15px;
}
#u41008 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  word-wrap:break-word;
}
#u41009_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:137px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41009 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:276px;
  width:254px;
  height:137px;
}
#u41010 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  word-wrap:break-word;
}
#u41011 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41012_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u41012 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:570px;
  width:300px;
  height:45px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u41013 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u41014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u41014 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:615px;
  width:430px;
  height:880px;
}
#u41015 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  word-wrap:break-word;
}
#u41016_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:673px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41016 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:719px;
  width:383px;
  height:673px;
}
#u41017 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:328px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:15px;
}
#u41018 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:719px;
  width:383px;
  height:15px;
}
#u41019 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41020_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u41020 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:744px;
  width:383px;
  height:50px;
  font-size:18px;
}
#u41021 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:25px;
}
#u41022 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:752px;
  width:13px;
  height:25px;
  color:#1E1E1E;
}
#u41023 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:2px;
}
#u41024 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:784px;
  width:383px;
  height:1px;
}
#u41025 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41026_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u41026 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:749px;
  width:140px;
  height:27px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u41027 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u41028_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:27px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u41028 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:749px;
  width:140px;
  height:27px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u41029 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u41030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:2px;
}
#u41030 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:864px;
  width:383px;
  height:1px;
  color:#E4E4E4;
}
#u41031 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41032_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:49px;
}
#u41032 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:805px;
  width:64px;
  height:49px;
}
#u41033 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:60px;
  word-wrap:break-word;
}
#u41034_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41034 {
  border-width:0px;
  position:absolute;
  left:783px;
  top:810px;
  width:30px;
  height:18px;
}
#u41035 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u41036_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u41036 {
  border-width:0px;
  position:absolute;
  left:783px;
  top:837px;
  width:80px;
  height:14px;
  font-size:12px;
}
#u41037 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u41038_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:2px;
}
#u41038 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:1028px;
  width:383px;
  height:1px;
}
#u41039 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41040_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:49px;
}
#u41040 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:934px;
  width:64px;
  height:49px;
}
#u41041 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:60px;
  word-wrap:break-word;
}
#u41042_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41042 {
  border-width:0px;
  position:absolute;
  left:783px;
  top:939px;
  width:30px;
  height:18px;
}
#u41043 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u41044_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u41044 {
  border-width:0px;
  position:absolute;
  left:783px;
  top:966px;
  width:80px;
  height:14px;
  font-size:12px;
}
#u41045 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u41046_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u41046 {
  border-width:0px;
  position:absolute;
  left:956px;
  top:794px;
  width:33px;
  height:14px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u41047 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u41048_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u41048 {
  border-width:0px;
  position:absolute;
  left:959px;
  top:926px;
  width:33px;
  height:14px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u41049 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u41050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:2px;
}
#u41050 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:905px;
  width:383px;
  height:1px;
  color:#CCCCCC;
}
#u41051 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41052_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:33px;
}
#u41052 {
  border-width:0px;
  position:absolute;
  left:925px;
  top:867px;
  width:121px;
  height:33px;
}
#u41053 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:2px;
}
#u41054 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:993px;
  width:383px;
  height:1px;
  color:#E4E4E4;
}
#u41055 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41056_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:33px;
}
#u41056 {
  border-width:0px;
  position:absolute;
  left:925px;
  top:995px;
  width:121px;
  height:33px;
}
#u41057 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41058_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u41058 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:1241px;
  width:70px;
  height:70px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u41059 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:66px;
  word-wrap:break-word;
}
#u41060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u41060 {
  border-width:0px;
  position:absolute;
  left:1021px;
  top:926px;
  width:20px;
  height:20px;
}
#u41061 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41062_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u41062 {
  border-width:0px;
  position:absolute;
  left:1021px;
  top:805px;
  width:20px;
  height:20px;
}
#u41063 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41064_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:51px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u41064 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:1341px;
  width:381px;
  height:51px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u41065 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:377px;
  word-wrap:break-word;
}
#u41066_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:54px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41066 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:1446px;
  width:378px;
  height:54px;
}
#u41067 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u41068 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:1453px;
  width:1px;
  height:40px;
}
#u41069 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41070_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41070 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:1464px;
  width:59px;
  height:18px;
}
#u41071 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u41072_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41072 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:1464px;
  width:59px;
  height:18px;
}
#u41073 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
