body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:427px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u41800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:803px;
}
#u41800 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:47px;
  width:357px;
  height:803px;
}
#u41801 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:394px;
  width:353px;
  word-wrap:break-word;
}
#u41802 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41803_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41803 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:332px;
  width:315px;
  height:44px;
}
#u41804 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41805_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u41805 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:350px;
  width:52px;
  height:15px;
  font-size:13px;
}
#u41806 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u41807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u41807 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:350px;
  width:15px;
  height:15px;
}
#u41808 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:26px;
}
#u41809 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:349px;
  width:20px;
  height:26px;
}
#u41810 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:387px;
}
#u41811 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:375px;
  width:315px;
  height:387px;
}
#u41812 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:186px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:189px;
}
#u41813 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:143px;
  width:315px;
  height:189px;
}
#u41814 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:86px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
