body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:427px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u42021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:803px;
}
#u42021 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:47px;
  width:357px;
  height:803px;
}
#u42022 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:394px;
  width:353px;
  word-wrap:break-word;
}
#u42023 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42024_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42024 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:332px;
  width:315px;
  height:44px;
}
#u42025 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42026_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u42026 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:350px;
  width:52px;
  height:15px;
  font-size:13px;
}
#u42027 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u42028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u42028 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:350px;
  width:15px;
  height:15px;
}
#u42029 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:26px;
}
#u42030 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:349px;
  width:20px;
  height:26px;
}
#u42031 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42032_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:387px;
}
#u42032 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:375px;
  width:315px;
  height:387px;
}
#u42033 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:186px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:189px;
}
#u42034 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:143px;
  width:315px;
  height:189px;
}
#u42035 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:86px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
